[2019-04-26 02:31] jamezpolley commented on #1200
Once again, `systemctl restart elasticsearch.service` got this up and running again.

newrelic monitoring did notice the elasticsearch process going away, and the timestamp seems to roughly correspond with updating SSL certificates (which requires shutting down apache and restarting it). Seems like we should probably restart elasticsearch when we update the certificates.

[2019-04-26 02:31] jamezpolley opened #1201 "Restart Elasticsearch when Apache is restarted"
As per #1200 and #1187 it seems that this is needed.

[2019-04-26 02:31] #1200 closed

[2019-05-06 10:51] technicallynotdeaf opened #1202 "150% Attendance at division"
In this division, it says PHON had 150% attendance:

https://theyvoteforyou.org.au/divisions/senate/2018-06-27/5

[2019-06-21 06:18] #1180 closed

[2019-07-23 01:07] henare opened #1204 "[They Vote For You/production] ActionView::Template::Error: Division#aye_majority delegated to division_info.aye_majority, but division_info is nil: #<Division id: 5762, valid: true, date: "2019-07-22", number: 7, house: "senate", name: "Business &#8212; Rearrangement", source_url: "http://parlinfo.aph.gov.au/parlInfo/search/display...", debate_url: "http://parlinfo.aph.gov.au/parlInfo/search/display...", motion: "<p class=\"speaker\">Penny Wong</p>\n\n<p>I understand...", clock_time: "021:02:00", source..."
## Backtrace

    line 11 of [PROJECT_ROOT]/app/models/division.rb: rescue in aye_majority
    line 11 of [PROJECT_ROOT]/app/models/division.rb: aye_majority
    line 71 of [PROJECT_ROOT]/app/models/division.rb: tied?

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/33534926)

[2019-07-23 01:16] jamezpolley commented on #1204
https://theyvoteforyou.org.au/divisions/senate/2019-07-22/7

This seems to be a one-off; I can't reproduce it on either https://theyvoteforyou.org.au/people/senate/nsw/concetta_fierravanti-wells or https://theyvoteforyou.org.au/divisions/senate/2019-07-22/7

The timing seems to be around the time we'd be doing the daily update, so it may have just been a page view that happened just as this divisi

[2019-07-23 01:16] #1204 closed

[2019-07-26 00:46] MicaelaMicaela opened #1205 "Division with wrong voting data @ 5:28pm 23 Jul 2019"
At 5:28pm on 23 July 2019 there was a second reading division with 106 ayes (101 majority) and 5 noes - I have confirmed this on Hansard.

On TVFY, the [5:28pm division](https://theyvoteforyou.org.au/divisions/representatives/2019-07-23/1) currently reads as not passed with 71 ayes and 76 noes. These results are wrong and seem to have been copied from the following [6:09pm division](https://theyvo

[2019-07-29 01:09] jamezpolley commented on #1205
* Confirmed that the error is visible in the XML file on OpenAustralia
* `rm -rf /srv/www/production/shared/html_cache/2019-07-23` to remove the downloaded/cached data from that day
* `./parse-speeches --force 2019-07-23` to re-read the updated hansard from the website
* xml file now has the right data.

[2019-07-29 01:21] jamezpolley commented on #1205
[code]

https://theyvoteforyou.org.au/divisions/representatives/2019-07-23/1 now has the right data.

[2019-07-29 01:22] #1205 closed

[2019-08-22 06:17] MicaelaMicaela opened #1206 "Voting data error"
The voting data for the Senator division on [25th Jul 2019 at 11:55 AM](https://theyvoteforyou.org.au/divisions/senate/2019-07-25/4) is wrong on They Vote For You. It currently lists the votes as 34 Yes – 36 No, which means it's listed as "not passed".

This division should actually read 49 Yes – 11 No, which means it passed.

[2019-08-23 02:21] jamezpolley commented on #1206
Confirmed that the error exists in the scraped XML on openaustralia.

Nuked the html_cache for that day. Confirmed that this updated scraped xml to have the correct vote numbers.

Loaded divisions on TVFY:
[code]

Updated cache:
[code]

Correct votes now show.

[2019-08-23 02:21] #1206 closed

[2019-09-03 22:32] SlyPhi opened #1207 "Andrew Wilkie is listed incorrectly in a no longer existing electorate."

[2019-09-10 00:21] jamezpolley commented on #1207
https://www.openaustralia.org.au/mp/andrew_wilkie/clark seems to be correct; https://theyvoteforyou.org.au/people/representatives/denison/andrew_wilkie is wrong (denison is the no-longer-existing electorate)

[2019-09-13 02:33] mackaymackay opened #1208 "Add link to unsubscribe to emails"
There is currently no unsubscribe link in our TVFY policy update emails. There is a link to 'View all your subscriptions' and once there, people can unsubscribe, but the email itself says nothing of this, meaning that people have to stumble across it themselves.

An unsubscribe link - or an explanation of how to unsubscribe - should be added to the emails to make it easier for users.

[2019-10-04 02:51] MicaelaMicaela opened #1209 "Incorrect information in House divisions 22 July 2019"
I can't place two House of Reps divisions from 22 July 2019

The [first](https://theyvoteforyou.org.au/divisions/representatives/2019-07-22/5) is listed on TVFY as taking place at 5:38pm. While there was a division at this time according to Hansard, the results are different: Hansard calls it Noes 76, Ayes 65 while we say it was Ayes 78, Noes 67.

The [second](https://theyvoteforyou.org.au/divisio

[2019-10-09 00:16] jamezpolley commented on #1209
The vote at 17:38 seems to be correct to me. I'm looking at https://parlinfo.aph.gov.au/parlInfo/download/chamber/hansardr/094f9d89-b5ce-43ef-8ad4-277117167c00/toc_pdf/House%20of%20Representatives_2019_07_22_7073_Official.pdf;fileType=application%2Fpdf page 139

https://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;adv=yes;db=CHAMBER;id=chamber%2Fhansardr%2F094f9d89-b5ce-43ef-8ad4-277117

[2019-10-09 00:18] jamezpolley commented on #1209
I'm seeing a division at 17:45 - https://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;adv=yes;db=CHAMBER;id=chamber%2Fhansardr%2F094f9d89-b5ce-43ef-8ad4-277117167c00%2F0168;orderBy=_fragment_number,doc_date-rev;page=0;query=Dataset%3Ahansardr,hansardr80%20Date%3A22%2F7%2F2019;rec=0;resCount=Default

[2019-10-09 05:01] MicaelaMicaela commented on #1209
No, no, you're completely right @jamezpolley . I've just gone back into Hansard and, like you said, the TVFY divisions check out fine. I have no idea what I was looking at when I made this issue... Was I looking at the wrong day that coincidentally had a division of the same nature at 17:38? Maybe!

Sorry for sending you on a wild goose chase. I'll close this now.

[2019-10-09 05:01] #1209 closed

[2019-10-13 09:20] MicaelaMicaela commented on #1092
Related to this issue, we've had a Facebook comment that adding a background colour to our head shots would be helpful since it would give users a visual indication of how party members are voting.

For example, we could add a red border for Labor members, blue for Coalition members and green for Green members.

[2019-10-18 04:05] MicaelaMicaela opened #1210 "Senate divisions missing for 14-17 Oct 2019 on TVFY"
There are currently no [divisions](https://theyvoteforyou.org.au/divisions) from the Senate showing up on TVFY for the 14-17 Oct 2019 sitting week, though divisions did take place.

[2019-10-21 00:34] jamezpolley commented on #1210
````./lib/hansard_parser.rb:190:in `throw': uncaught throw `2019-10-17 senate: Couldn't figure out who Henderson, SM is in division (voting yes)' (NameError) ````

[2019-10-21 00:36] jamezpolley commented on #1210
@MicaelaMicaela Looks like we have some data updates we need.

https://www.aph.gov.au/Senators_and_Members/Parliamentarian?MPID=ZN4

[2019-10-22 01:34] MicaelaMicaela commented on #1210
Thanks for seeing this @jamezpolley ! I'm set to do TVFY work on Thursday this week and can make this change then.

[2019-10-22 01:40] MicaelaMicaela commented on #1210
On second thought, I'll do it now @jamezpolley - always best to get these things done asap and I'm stopping my other work for lunch anyway.

[2019-10-22 01:53] MicaelaMicaela commented on #1210
Done: https://github.com/openaustralia/openaustralia-parser/pull/83

[2019-10-23 05:42] #1210 closed

[2019-10-24 01:27] MicaelaMicaela commented on #1173
And another from the Senate on 16 Oct 2019 on the subject of abortion. It currently shows four rebellions.

* https://theyvoteforyou.org.au/divisions/senate/2019-10-16/3

[2019-11-22 03:02] jamezpolley opened #1213 "Another free vote from the Senate on 16 Oct 2019 on the subject of abortion. It currently shows four rebellions."
And another from the Senate on 16 Oct 2019 on the subject of abortion. It currently shows four rebellions.

* https://theyvoteforyou.org.au/divisions/senate/2019-10-16/3

_Originally posted by @mackaymackay in https://github.com/openaustralia/publicwhip/issues/1173#issuecomment-545701718_

[2019-11-22 03:03] jamezpolley commented on #1173
I've moved this to a new issue (which links back to this one) so I can better track this new bit of work.

[2019-11-22 03:30] #1213 closed

[2019-11-28 22:42] mackaymackay opened #1216 "Missing divisions - sitting week 25-28 November 2019"
TVFY is currently missing House of Reps divisions for 27 November 2019 and all Senate divisions for this sitting week (25-28 November 2019).

We may be missing the Senate divisions due to a senator leaving (see [pull request](https://github.com/openaustralia/openaustralia-parser/pull/89)) but I'm not sure why we're missing the House divisions for that one day - unless anyone's aware of an MP leavi

[2019-11-29 04:49] jamezpolley commented on #1216
We've not got all the debates loaded into OAF.

Adding Jim Molan made some progress. But in addition, the 27th took an abormally long time to process for reasons I haven't been able to figure out.

[2019-11-29 04:49] #1216 closed

[2019-12-27 03:03] mackaymackay opened #1218 "Division data error from Hansard"
**Context:**

Kingston MP Amanda Rishworth is listed incorrectly as crossing the floor in the [5:03pm 27 Nov 2019 division](https://theyvoteforyou.org.au/divisions/representatives/2019-11-27/15). This is not our error, but comes from [Hansard itself](https://parlinfo.aph.gov.au/parlInfo/genpdf/chamber/hansardr/a7ce6cc1-21ba-4cac-bf80-f84a4f8caf08/0218/hansard_frag.pdf;fileType=application%2Fpdf) a

[2020-01-02 06:24] jamezpolley commented on #1218
Yes, we can do that with a [patch](https://github.com/openaustralia/openaustralia-parser/tree/master/data/patches); but the process to make them is fiddly.

I had a whole thing written about how I think this already has been corrected... but then I realised I was looking at the 17:09 vote rather than 17:03. Now that I'm looking at the right vote.. no it's not corrected yet. I'll make a patch.

[2020-01-02 08:14] #1218 closed

[2020-01-02 08:48] jamezpolley commented on #1218
I've pushed this patch live to OA, and re-parsed the speeches from that day, which has updated the generated XML. I've loaded this into TVFY, which has corrected some parts of the site but not others - for instance, https://theyvoteforyou.org.au/people/representatives/kingston/amanda_rishworth no longer lists this division in the list of rebellions, and https://theyvoteforyou.org.au/divisions/repr

[2020-02-21 06:17] mackaymackay commented on #1092
Another related suggestion via Facebook today: "How about colour coding the background or tagging photos with Party affiliation?"

What do you think is the likelihood that we could implement something like this @jamezpolley ?

[2020-02-25 00:07] katska commented on #1092
The thinking was that party colours props up the idea that people have to vote with their parties, rather than representing their constituents views. I think its worth re-examining the idea! Does it help or hinder to not display party colours?

[2020-02-28 00:14] mackaymackay opened #1220 "People pages refer to "2013 (current) Parliament""
Under the "Possible Friends" title, some people pages include the following sentence:

This may be connected to a closed issue from 2014 called [Divisions page calls current parliament "2013"](https://github.com/openaustralia/publicwhip/issues/140)

Screenshot from a Centre Alliance senator's page:

![image](https://user-images.githubusercontent.com/6345406/75498337-fa1bd900-5a1a-11ea-951c-c00037b

[2020-02-28 00:22] mackaymackay commented on #1092
I think it would help to display party colours. While philosophically I agree with placing the emphasis on a representative as belonging to the electorate first and the party second, the reality of our political system usually means that the opposite is the case. Since we want TVFY to be as helpful as possible, and considering that this suggestion has been made several times, I think it's time to

[2020-06-28 23:17] naverone opened #1222 "CORS"
Trying to use your API through They Vote for You but keep falling foul of CORS - is there any chance you could change your CORS headers to open the API up?

[2020-06-28 23:50] mlandauer commented on #1222
Ah yes of course. I can't remember off the top of my head what we did with CORS on the TheyVoteForYou API.

I can take a look at this later today and remind myself about the setup. Of course if you have some time right now a PR would be very gladly accepted! :-)

[2020-06-29 01:42] mlandauer commented on #1052
Duplicate of #1222

[2020-06-29 02:21] #1222 closed

[2020-06-29 02:22] #1052 closed

[2020-06-29 03:00] mlandauer commented on #1222
That's now deployed to production. And the following quick test shows that it's working. The output of
[code]
now includes the following two lines:
[code]

[2020-06-29 03:00] mlandauer commented on #1222
@naverone please let me know if that fixes the problems you've had!

[2020-06-29 03:51] naverone commented on #1222
Thank you! That seems to have fixed everything and my page is now loading so much faster than it was when I was working around the issue. Appreciate your help.

[2020-06-29 03:54] mlandauer commented on #1222
@naverone great to hear. I would love to see what you're doing with the API if and when you're ready to share.

[2020-07-20 05:26] naverone commented on #1222
Thanks - would like to chat through what I'm doing, especially as I don't wan to hit your server too much. Can we get in touch directly?

[2020-08-27 22:11] mackaymackay commented on #1198
This issue has been raised again via an email to the contact address (dated 27 Aug). In respect to how to solve it, the writer suggested that:

[2020-09-16 04:57] mlandauer opened #1224 "We're getting bots submitting registrations and sending out SPAM"
This is causing problems for all emails being sent out from our projects including PlanningAlerts.

The bots are putting spam content in the name field which is then going out in the emails which are then being detected as spam.

As a first attempt to stop we should try adding something like https://github.com/markets/invisible_captcha

[2020-09-16 05:27] #1224 closed

[2020-10-02 22:49] mackaymackay opened #1225 "Update representative profile pictures"
We've had a request via Facebook for updated profile pictures for our MPs/senators. We are currently using older photos that are no longer in use on the [aph.gov.au](https://www.aph.gov.au/Senators_and_Members) website. We are also missing photos for the more recent MPs/senators

[2020-10-06 01:13] katska commented on #1225
Thanks @mackaymackay Good point yes!

[2020-10-29 22:53] mackaymackay opened #1228 "Give option to subscribe to MP/Senator"
We've received an email asking whether there is "a way to have subscriptions for chosen MPs instead of just policies". Currently, users can only subscribe to policies on TVFY.

It's a good idea, as it would allow users to keep track of their MP/senator on a vote-by-vote basis. Note that we already have a similar option on openaustralia.org.au, where users can ask for an email to be generated whene

[2020-12-24 03:09] mackaymackay opened #1229 "Change TVFY logo"
The current logo may have unwanted racial overtones as it features a single white hand. A replacement should be in line with the following criteria. It should:

- not feature a white hand
- not feature multiple hands
- keep the same colour scheme (to match rest of [TVFY website](https://theyvoteforyou.org.au/))

The logo currently appears in the website tab (though not on the webpages themselves)

[2021-01-05 04:14] #1108 closed

[2021-01-30 06:52] tvqt commented on #4
it's seems like this is no longer an issue, as publicwhip.org.au is no longer an active website, and They Vote for You lists the current Deputy Whip as voting with his party

[2021-01-30 07:32] tvqt commented on #316
I could potentially do this, as @mlandauer described, with Thumbor, using it locally on the current parliamentarian photos, however, it might be useful to have something that is more futureproof (e.g. something hosted?).

Is there currently a protocol around photos, keeping things up to date, adding new parliamentarians etc.? Is it a manual or automatic process?

[2021-01-30 07:37] tvqt commented on #74
This seems like it should be closed, as it never came to pass, and seems like a circumstance that is very unlikely to happen in the future? @jamezpolley

[2021-02-26 00:11] mackaymackay opened #1233 "Making electorates searchable by Aboriginal Nation"
Currently, we can search for our representatives by name, electorate or postcode. We would like to add the ability to search by Aboriginal Nation groups.

[2021-02-26 00:13] mackaymackay commented on #1233
For future reference: good starting point is [AIATSIS map](https://aiatsis.gov.au/explore/map-indigenous-australia). Also note their [document of alternative spellings](https://beta.aiatsis.gov.au/sites/default/files/2020-08/aamapalternatespellings.pdf).

[2021-03-04 22:47] mackaymackay commented on #1233
Table to be filled:

Electorate | State/Territory | Nation(s)
------------ | ------------- | -------------
Bean | ACT | ...
Canberra | ACT | ...

[2021-03-10 00:38] mlandauer opened #1234 "Memory spikes when running daily update scripts"
This impacts performance and out ability to monitor and provision the servers well so it would be good to fix.

From my vague memory those scripts were pretty quickly thrown together and have a lot of room for improvement so this, fingers crossed, shouldn't be particularly tricky.

[2021-04-13 03:12] mlandauer opened #1235 "Upgrade ruby"
It's currently using ruby 2.3.1 which is no longer being supported. It also doesn't work easily on newer versions of Ubuntu. As I'm now developing on an Ubuntu machine I have some more motivation to fix this.

So, let's upgrade to a much more recent version of Ruby!

[2021-04-22 02:19] mlandauer opened #1236 "WikiMotion stores edit_date in local time not UTC"
This was to maintain compatibility with the ancient PHP code. This is no longer necessary and is stopping the upgrade from rails 5.0 to 5.1.

We should fix this so that it does the sensible (normal Rails thing) of storing the time in UTC in the database.

[2021-04-29 22:45] mackaymackay opened #1239 "Log in/Sign up functions not working"
I am currently not able to log in to my TVFY account (after typing in my password, it goes to a blank screen). We also received an email earlier this week (28 Aug) from a user who tried to sign up for an account and also hit a blank screen after typing in their details.

[2021-05-02 23:46] mlandauer commented on #1239
@mackaymackay as I mentioned on Slack this is most likely caused by the recent ruby and app updates I did. This is the first thing I'm working on fixing this morning. Sorry I couldn't fix it immediately on Friday

[2021-05-03 00:27] #1239 closed

[2021-05-03 00:48] mlandauer opened #1240 "[They Vote For You/production] ActionView::Template::Error: undefined method `[]' for nil:NilClass"
## Backtrace

    line 7 of [PROJECT_ROOT]/app/views/layouts/email.html.haml: _app_views_layouts_email_html_haml___1976192773355942205_70258695129020

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/79154482)

[2021-05-03 01:19] #1240 closed, assigned to nobody

[2021-05-12 23:28] mackaymackay opened #1241 "New divisions not appearing on TVFY (11-12 May)"
This week's divisions are not being uploaded onto TVFY. I have checked to see if there have been any new MP/Senator appointments (as that has caused this issue in the past), but have not found any.

[2021-05-18 23:52] #1241 closed

[2021-05-18 23:57] mlandauer commented on #1241
Deployed this fix and running `rake application:load:daily` by hand. I expect it won't load everything from last week....

[2021-05-19 00:42] mlandauer commented on #1241
Ran `RAILS_ENV=production bundle exec rake application:load:divisions[2021-04-01,2021-05-19]` followed by `RAILS_ENV=production bundle exec rake application:cache:all`

[2021-05-19 01:07] mlandauer commented on #1241
The divisions from last week have now all loaded. It's still recalculating the caches but I have no reason to believe there should be any problems with that

[2021-05-21 01:57] mackaymackay opened #1243 "postcode 4271 not working on TVFY search"
We have been emailed to inform us that when searching postcode 4271 on TVFY, no results are found. It should bring up Wright MP [Scott Buchholz](https://theyvoteforyou.org.au/people/representatives/wright/scott_buchholz).

[2021-05-26 01:09] katska opened #1244 "compare your representative's votes vs ANY party line"
Someone I met who is actively engaged in their community requested: If I live in an area where the sentiment goes one way on an issue, and the local representative is voting against the majority interest/views, I want to know about that.
I also may want to compare their voting on an issue I care about in comparison to the party I would have voted for.
So for example if I would have voted Greens or

[2021-05-26 01:28] katska commented on #1244
@mackaymackay ages ago you were advocating for the idea of relating our representatives' votes to their party. Conceptually this was something that TVFY intentionally downplayed in its design, to emphasize the representational nature of the relationship to constituents. I put in this related issue after someone told me they would be interested to see how their local member voted compared to the pa

[2021-05-28 00:01] mackaymackay commented on #1244
Hi @katska  I agree that having some sort of way to gauge party position would be good, but I think something like this may go too far, as it assume party-homogeneity and wouldn't account for rebellions or purposeful absences within parties (e.g. certain Labor members used to leave the chamber during gay marriage votes, back when Labor didn't support it, because they didn't want to vote against it

[2021-06-14 00:59] katska commented on #1244
@mackaymackay sorry I wasn't clear in the issue, this request came from someone else outside OAF. I was so focused on getting the details of the request down in the issue I quite forgot to add this piece of information!

[2021-06-29 03:41] katska opened #1245 "Add licensing info to the API page"
To begin with I'm suggesting that on this page, we add a new section 'licensing', based on the wording used at [openaustralia](https://www.openaustralia.org.au/api/)

Licensing

Parliamentary material (that's data returned from getDebates and getHansard), is Copyright Commonwealth of Australia and is [provided by them ](http://aph.gov.au/legal/copyright.htm)under a [Creative Commons 3.0 Attributio

[2021-06-29 03:50] katska commented on #1245
Because we've seen people be exceptionally forgiving about what constitutes commercial use - ie. because this exact thing is not the thing that makes money even tho it directly contributues to services I produce, I believe we need to move towards more specific language, and ideally keep a closer track on what data is being used and how. Both for funding the project (which there is almost no suppor

[2021-09-27 04:40] katska opened #1248 "Fix Mobile Usability issues reported by Google Search Console"
Reported by Google Search Console

Search Console has identified that your site is affected by 2 Mobile Usability issues:
Top Issues
The following issues were found on your site:
Clickable elements too close together
Text too small to read
We recommend that you fix these issues when possible to enable the best experience and coverage in Google Search.
https://search.google.com/search-console/mobil

[2021-09-30 01:35] katska opened #1250 "Make draft policies show their 'draft' status"
Someone posted on twitter, mis-representing a draft policy externally edited, as a reasonable reflection of someone's voting record. Partly they were able to do this because draft policies don't look different to other policies.

https://twitter.com/thesayno7/status/1441072749447761927

SN7 🌱SN7 🌱 @thesayno7
Age Pensioners are already on the #cashlessdebitcard in one site. The payment entered the

[2021-09-30 01:43] mlandauer commented on #1250
Fixed by ba335d2dbfe111a24178f95d549cbdf848336c8b and ff0a4a251a37126f5f21cb2f7a0c55e1aeb514bd

[2021-09-30 01:43] #1250 closed

[2021-10-01 23:11] andrewcameronsims commented on #1220
Hi Mackay.

Am I right in thinking that this should display the current parliament as being the 2019-current parliament? From looking at the way this is calculated in the Parliament model there is no record of the 2016-2019 (43rd) or 2019-current (44th) parliaments; they are missing.

I would be happy to open a PR to make this change if I am correct in my assumption here.

[2021-10-11 00:50] mlandauer opened #1251 "Directly compare the voting record of two politicians"
It's not immediately obvious why adding a feature to directly compare two politicians on TheyVoteForYou would be useful.

Consider this:
* I might want to make the point that two people in the same party who have quite different views actually vote almost identically. This is very compelling when you give a specific example rather than just an abstract statement that "in Australia people vote very

[2021-10-11 00:56] mlandauer commented on #1251
I'm going to spend a few days just prototyping something quick out. Initially I'm thinking we build something really really rough and ready. We don't put any effort into the user experience of the picking of the two politicians. We start with something that just shows the votes side by side for two people (just highlighting or only just showing the ones that are different?). It needs to work on mo

[2021-10-11 01:32] mlandauer commented on #1173
The separate new issue is done so there's nothing remaining here

[2021-10-11 04:16] mlandauer commented on #1251
Yeah I guess somewhere where two politicians have **said** quite different things - which I guess means that they likely would be in different factions of the same party

[2021-10-12 23:55] mlandauer opened #1253 "Mike Kelly summary of previous positions is nonsensical statement"
On https://theyvoteforyou.org.au/people/representatives/eden-monaro/mike_kelly:

![image](https://user-images.githubusercontent.com/2221/137044215-ce145e1e-72e2-4a40-aab5-7b4772eac61a.png)

It says "Before being Australian Labor Party Representative for Eden-Monaro, Mike Kelly was Australian Labor Party Representative for Eden-Monaro." which obviously doesn't make a whole lot of sense.

I'm guessi

[2021-10-12 23:59] mlandauer opened #1254 "Add stalebot to issues"

[2021-10-13 00:00] #1254 closed, assigned to nobody

[2021-10-13 09:41] mlandauer commented on #315
By the looks of it this has been fixed

[2021-10-13 09:41] #315 closed, assigned to nobody

[2021-10-14 04:20] mlandauer commented on #1251
After working through this it has become very clear that showing differences in individual votes is not going to be useful at all because there are just too many. So instead I have taken a different approach and focus on the differences with their agreement with policies.

[2021-10-14 04:44] mlandauer commented on #1251
Some example people to compare:
* [Zali_Steggall & Craig Kelly](https://theyvoteforyou.org.au/people/representatives/warringah/zali_steggall/compare/hughes/craig_kelly)
* [Trent Zimmerman & Craig_Kelly](https://theyvoteforyou.org.au/people/representatives/north_sydney/trent_zimmerman/compare/hughes/craig_kelly)
* [Jason Falinski & George Christensen](https://theyvoteforyou.org.au/people/representa

[2021-10-14 04:50] mlandauer commented on #1251
Some screenshots of the very early prototype (from the PR above):

![image](https://user-images.githubusercontent.com/2221/137253826-3eea8915-02f4-4256-b3f9-044d7d6e4ef0.png)
![image](https://user-images.githubusercontent.com/2221/137253898-9654eefe-770c-4f7c-adf7-5104966350d9.png)
![image](https://user-images.githubusercontent.com/2221/137253945-26bcfc56-73ee-43b4-89a9-140b89836bc0.png)

[2021-10-14 04:51] mlandauer commented on #1251
Oh yeah and you can click on the name of the policy and get the specific ways that each person voted (with links off to much more detail again):

![image](https://user-images.githubusercontent.com/2221/137254110-da50b1b9-6755-4eea-b555-2aa106076bfc.png)

[2021-10-14 08:58] #777 closed, assigned to nobody

[2021-10-14 09:00] mlandauer commented on #827
I think revisiting this issue would be good

[2021-10-14 20:06] mlandauer opened #1256 "[They Vote For You/production] NoMethodError: undefined method `person' for nil:NilClass"
## Backtrace

    line 129 of [PROJECT_ROOT]/app/controllers/divisions_controller.rb: show

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/82015073)

[2021-10-14 20:07] mlandauer opened #1257 "[They Vote For You/production] ActionView::Template::Error: undefined method `user_path' for #<#<Class:0x0000000003ec3940>:0x0000000008202e68> Did you mean? user_url"
## Backtrace

    line 248 of [PROJECT_ROOT]/app/helpers/policies_helper.rb: version_author_link
    line 13 of [PROJECT_ROOT]/app/views/alert_mailer/policy_updated.html.haml: _app_views_alert_mailer_policy_updated_html_haml___101883395339803806_31956440
    line 13 of [PROJECT_ROOT]/app/mailers/alert_mailer.rb: policy_updated

[View full backtrace and more info at honeybadger.io](https://app.hone

[2021-10-14 20:07] mlandauer opened #1258 "[They Vote For You/production] NoMethodError: undefined method `person' for nil:NilClass"
## Backtrace

    line 120 of [PROJECT_ROOT]/app/controllers/members_controller.rb: block in compare
    line 118 of [PROJECT_ROOT]/app/controllers/members_controller.rb: compare

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/82004623)

[2021-10-14 22:00] mackaymackay commented on #308
Hi @mlandauer I tend to use the [recent edits](https://theyvoteforyou.org.au/history) page to keep track of changes made by users. I suspect that emails about updates would just get lost in the inbox, as I would get so many on each day that I'm doing updates that I'd probably stop paying any attention to them, which would defeat their purpose.

That said, did we stop sending out emails for subscri

[2021-10-15 08:59] #468 closed, assigned to nobody

[2021-10-15 09:02] mlandauer commented on #459
Given that there are very very few places a user's info is publicly displayed (basically only if they edit a division or policy) there seems little value to add this right now. Closing as a won't fix

[2021-10-15 09:02] #459 closed, assigned to nobody

[2021-10-15 09:06] mlandauer commented on #370
Still feels like an idea worth exploring. It's likely to not work in so many ways but it feels wrong not to try

[2021-10-15 09:08] mlandauer commented on #371
I think we improved the language around this

[2021-10-15 09:08] #371 closed, assigned to nobody

[2021-10-15 20:46] #308 closed

[2021-10-15 22:02] katska commented on #370
I think there are a few places where visual communication is needed to help distill or bring focus.

[2021-10-15 23:43] mlandauer commented on #299
Yes I think this is really important

[2021-10-15 23:46] #802 closed, assigned to nobody

[2021-10-15 23:51] #429 closed

[2021-10-15 23:53] mlandauer commented on #394
I still really like this idea. We should explore it when we get a chance

[2021-10-15 23:56] #455 closed

[2021-10-16 00:05] mlandauer commented on #17
Maybe a first step would be to support and load the data and show it in the detailed voting history on a division but not handle it differently anywhere else. At least then it would be available if people really wanted to see but it wouldn't complicate any other part of the site

[2021-10-16 00:06] mlandauer commented on #203
We should totally do this!

[2021-10-16 00:09] mlandauer opened #1259 "Search results can show the same person multiple times"
This is because it's returning members rather than people

[2021-10-16 00:11] mlandauer opened #1260 "Search results show current members and former members on equal footing"
I think we sort current members first. If the results return current and former members it would be better if there was a separate heading for "current members" and "former members"

[2021-10-16 09:32] mlandauer commented on #650
Still seems like a worthwhile idea I think as long as it doesn't make stuff messy

[2021-10-16 09:35] #584 closed, assigned to nobody

[2021-10-16 09:43] mlandauer commented on #1000
Yes to this a hundred fold! We have a lot of policies and this is the quickest way we could make that page more easy to use

[2021-10-16 09:45] mlandauer commented on #490
This still seems worthwhile

[2021-10-16 09:47] mlandauer commented on #932
Ooh I don't like the sound of this bug. It would be good to fix it

[2021-10-16 09:49] #863 closed

[2021-10-16 09:56] mlandauer commented on #873
Seems like something we should do and as mentioned before probably pretty easy to do

[2021-10-16 10:01] mlandauer commented on #255
Gosh I had totally forgotten that we had to remove this feature!

[2021-10-17 01:54] mlandauer commented on #805
@cofiem i feel like a bit of a fool for only just seeing you did this. Thank you!

[2021-10-17 01:56] mlandauer commented on #316
I don't know if this really belongs here but it would be also great to remove the confusing and distracting colored backgrounds from the images too. They relate to the house that they're in rather than party

[2021-10-17 09:23] mlandauer commented on #4
It looks from the history that this issue was resolved

[2021-10-17 09:23] #4 closed

[2021-10-17 09:25] mlandauer commented on #74
Yes indeed. Since it hasn't happened we don't need to deal with it. If something like this happens in the future then we should think about it!

[2021-10-17 09:25] #74 closed

[2021-10-17 09:27] mlandauer commented on #85
This is that weird issue that friends take absences into account which is hard to understand intuitively. This feels very relevant to the work we're doing on comparing people

[2021-10-17 09:29] mlandauer commented on #192
This would be a good long overdue tidy up to do!

[2021-10-17 09:31] mlandauer commented on #207
I guess we haven't seen abuse enough to warrant doing this.

[2021-10-17 09:31] #207 closed

[2021-10-17 16:08] #1258 closed, assigned to mlandauer

[2021-10-17 18:27] #1257 closed, assigned to mlandauer

[2021-10-17 18:33] #1256 closed, assigned to mlandauer

[2021-10-18 08:51] mlandauer commented on #1228
Seems like a good idea to me

[2021-10-18 09:25] mlandauer commented on #914
@mackaymackay would this be useful to include on the site. In the division summary you often repeat an explanation but would it make sense to put this somewhere else so you didn't have to repeat it again and again?

[2021-10-18 09:29] #1199 closed

[2021-10-18 09:32] mlandauer commented on #1196
This is hairy. I think there are a few related issues floating around that are coming at this from slightly different angles

[2021-10-18 09:39] mlandauer commented on #1155
In a totally ideal world we would be able to do this but this is so far beyond our capacity to do for only a small percentage of the population. Sad but true

[2021-10-18 09:43] mlandauer commented on #1164
Seems like a sensible and straightforward addition

[2021-10-19 09:00] mlandauer commented on #1157
+1 for consistent language

[2021-10-19 09:13] #845 closed

[2021-10-19 09:25] #555 closed

[2021-10-19 09:29] mlandauer commented on #1054
I like this. Let's do it

[2021-10-19 09:36] mlandauer commented on #1126
I like this but I don't think it's realistic to consider doing. This would bring us much more in the territory of a news publication. Is this something that we could partner with a news organization to do? Until then I'm closing this

[2021-10-19 09:40] #866 closed

[2021-10-19 09:42] mlandauer commented on #726
I think the PR above fixed this

[2021-10-19 09:42] #726 closed, assigned to nobody

[2021-10-19 09:45] #1129 closed

[2021-10-19 09:50] #1119 closed

[2021-10-19 21:42] #1109 closed

[2021-10-20 00:48] katska commented on #1156
@mlandauer could you be more specific about what could be simpler?

[2021-10-20 08:50] mlandauer commented on #982
I think this probably also occurs when the daily rake task is run at 10am or so.

[2021-10-20 08:53] #1105 closed

[2021-10-20 08:55] mlandauer commented on #1103
We've had so little signal that there is any desire for people to write policies on the site if only they knew how. So I'm not inclined to invest any energy in it

[2021-10-20 08:55] #1103 closed

[2021-10-20 08:59] mlandauer commented on #919
Playing devil's advocate here are there any tools out there in the wild that could make use of the data out of the box if we provided a compatible API?

[2021-10-21 02:54] katska commented on #1090
how about being able to flip from images to listed by names?

[2021-10-21 04:30] #919 closed, assigned to nobody

[2021-10-21 08:55] mlandauer commented on #1098
I think if we could tell the difference between someone being absent on the day of parliament or for a particular vote that would be more indicative of something like an abstention. As it is I feel there's not a strong enough signal to make something solidly useful of this

[2021-10-22 00:59] mackaymackay commented on #1069
@mlandauer  I think a tagging system would be a great way to do it

[2021-10-25 00:36] mlandauer commented on #1070
I do think that this is adequately covered in the current design. There's a "what does this mean?" next to the "Voted very strongly for..." which links to a reasonable explanation.

![image](https://user-images.githubusercontent.com/2221/138619188-73207ba7-7196-4113-a36f-74b78e077ad5.png)

I'm not suggesting that this is perfect but it does a reasonable job and I think it's enough to close this is

[2021-10-25 00:36] #1070 closed

[2021-10-25 00:45] mlandauer opened #1261 "On person comparison page show free votes (and rebel votes?)"
When looking at the relative voting record of two people it's useful to specifically look at the free votes because those are votes where their vote is not being dictated by the party that they're a member of.

So, have a section after the comparison of policies that compares the free votes similar to how they are displayed on the person page. e.g. https://theyvoteforyou.org.au/people/representati

[2021-10-25 00:50] mlandauer opened #1262 "New page that shows a complete list of all the free votes that we know about"
Currently this is all hidden away deep in the code of the site. It is actually interesting and useful to know and to also see just how **rare** they are.

We would also need to be able to show not just the specific divisons that are free but for which parties they are free. Currently all this information is hardcoded. We probably need to extract something more programmatic - probably related to #2

[2021-10-25 00:52] mlandauer opened #1263 "Show policies that includes divisions that have "free votes" differently"
Divisions that are "free" are very important and relatively rare. Because the party doesn't directly control the vote they are also very interesting. Policies that include free votes you would expect to be similarly interesting. I think it would be useful to highlight those policies in the interface somehow.

[2021-10-25 05:10] katska opened #1265 "links to policies/votes from openaustralia no longer work"
If I look at [Justine Elliot's profile at openaustralia.org.au ](https://www.openaustralia.org.au/mp/justine_elliot/richmond) and click on the [first policy](https://theyvoteforyou.org.au/mp.php?mpid=160&dmp=1) - it returns ['sorry page not found'](url)

even tho there is a policy on this https://theyvoteforyou.org.au/people/representatives/richmond/justine_elliot/policies/1 (the title is shown as

[2021-10-25 05:13] katska opened #1266 "change "subscribe/subscribers" to "follow/followers""
Where we say 'subscribe' and 'subscribers', change this to 'follow' and 'followers' (or suggest something else).

Subscribe usually means 'support' either financially or philosophically. With policies, someone who signs up to receive updates does not infer agreement, support for or take any position on the policy other than to follow what's going on with it.

On the [policies page](https://theyvot

[2021-10-26 00:25] #682 closed, assigned to nobody

[2021-10-26 09:22] #1015 closed, assigned to nobody

[2021-10-26 09:26] #1041 closed, assigned to nobody

[2021-10-26 09:33] #1027 closed, assigned to nobody

[2021-10-26 09:34] #1026 closed, assigned to nobody

[2021-10-26 23:46] mlandauer opened #1269 "Delay between loading new divisions and division_info being populated"
## Backtrace

    line 14 of [PROJECT_ROOT]/app/models/division.rb: rescue in aye_majority
    line 14 of [PROJECT_ROOT]/app/models/division.rb: aye_majority
    line 74 of [PROJECT_ROOT]/app/models/division.rb: tied?

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/82182761)

[2021-10-26 23:47] mlandauer opened #1270 "[They Vote For You/production] ActionView::Template::Error: undefined method `possible_turnout' for nil:NilClass"
## Backtrace

    line 11 of [PROJECT_ROOT]/app/views/api/v1/divisions/_division.json.jbuilder: _app_views_api_v__divisions__division_json_jbuilder__3535966370156791926_70135259987100
    line 3 of [PROJECT_ROOT]/app/views/api/v1/divisions/index.json.jbuilder: _app_views_api_v__divisions_index_json_jbuilder___3089789612961555855_35066540

[View full backtrace and more info at honeybadger.io](https

[2021-10-27 04:14] #1270 closed, assigned to nobody

[2021-10-27 04:18] #909 closed, assigned to nobody

[2021-10-27 04:21] #1037 closed, assigned to nobody

[2021-10-27 08:33] #638 closed, assigned to nobody

[2021-10-27 08:39] #387 closed, assigned to nobody

[2021-10-27 08:44] #958 closed, assigned to nobody

[2021-10-27 08:48] #977 closed, assigned to nobody

[2021-10-27 08:49] #973 closed, assigned to nobody

[2021-10-27 08:51] #965 closed, assigned to nobody

[2021-10-27 18:24] #988 closed, assigned to nobody

[2021-10-27 18:50] #942 closed, assigned to nobody

[2021-10-27 18:55] #940 closed, assigned to nobody

[2021-10-27 18:57] #938 closed, assigned to nobody

[2021-10-27 18:59] #917 closed, assigned to nobody

[2021-10-27 19:19] #737 closed, assigned to nobody

[2021-10-27 19:22] #609 closed, assigned to nobody

[2021-10-27 23:23] mlandauer opened #1271 "On policy and policy with member pages show "strong divisions" first under their own heading"
On https://theyvoteforyou.org.au/policies/3 and https://theyvoteforyou.org.au/people/representatives/sydney/tanya_plibersek/policies/3 currently all the divisions are listed after each other. I think they're just chronological.

![image](https://user-images.githubusercontent.com/2221/139160891-840f05f4-c676-43ee-a1dd-903b07965bee.png)

Note also the whole "No (strong)", "Yes (strong)" which is als

[2021-10-27 23:24] #871 closed, assigned to nobody

[2021-10-27 23:25] #867 closed, assigned to nobody

[2021-10-27 23:40] #454 closed, assigned to nobody

[2021-10-27 23:48] #437 closed, assigned to nobody

[2021-10-28 02:05] #717 closed, assigned to nobody

[2021-10-28 02:05] #771 closed, assigned to nobody

[2021-10-28 02:15] #768 closed, assigned to nobody

[2021-10-28 02:16] #769 closed, assigned to nobody

[2021-10-28 02:17] #628 closed, assigned to nobody

[2021-10-28 02:20] #724 closed, assigned to nobody

[2021-10-28 02:24] #754 closed, assigned to nobody

[2021-10-28 02:27] #716 closed, assigned to nobody

[2021-10-28 02:34] #613 closed, assigned to nobody

[2021-10-28 05:08] mlandauer opened #1272 "Run cron job once a week to reindex whole elasticsearch"
We want to run the rake task `bundle exec rake searchkick:reindex:all` every so often just to make sure that everything is indexed even if there was a problem with the indexing that should happen automatically.

[2021-10-29 01:11] mackaymackay opened #1273 "Ayes and Noes recorded wrongly in division - should be opposite"
In [this division](https://theyvoteforyou.org.au/divisions/senate/2021-10-20/3) on a Migration Amendment bill, the ayes and noes have been reversed (though the numbers - 25 ayes vs 25 noes - are correct).

According to the [Hansard record](https://www.aph.gov.au/Parliamentary_Business/Hansard/Hansard_Display?bid=chamber/hansards/25180/&sid=0000), the Government voted "yes" and the Opposition voted

[2021-11-04 21:39] mackaymackay opened #1274 "TVFY emails with policy updates contain dodgy links"
A user has emailed to let us know that the links included in the emails to policy subscribers don't work (i.e. the emails sent out when a policy is updated). After reviewing the emails, I can confirm that they include links that are blocked by my web protection software "due to an unmatching security certificate."

Note that the TVFY pages are fine when you access them through the site itself; it

[2021-11-04 22:06] mlandauer commented on #1274
@mackaymackay could you please add the body of the email here to make it a little easier for me to see what's happening. Thanks!

[2021-11-04 22:12] mackaymackay commented on #1274
Sure @mlandauer

Here's a copy of the latest one I received, with links:

Subject line: Policy “for creating a federal Anti-Corruption Commission” updated on They Vote For You

Email body:

[2021-11-04 22:17] mlandauer commented on #1274
@mackaymackay thank you! This looks like a similar problem we've had reported on PlanningAlerts. I can't reproduce the problem directly though I think I know what the problem is related to. What specific operating system and browser version are you using? Also what's the specific security software that's popping up the error?

[2021-11-04 22:18] mlandauer commented on #1274
If I can understand how to reproduce the problem then hopefully I can fix it! 😀

[2021-11-04 22:20] mackaymackay commented on #1274
I'm using bitdefender on Firefox. I just tried the same link in Google Chrome to compare and instead of getting a Bitdefender warning, I got a screen saying "The page you were looking for doesn't exist."

![image](https://user-images.githubusercontent.com/6345406/140428449-50a5bd60-ef78-45a7-98db-15cc74ed3708.png)

[2021-11-04 22:43] mackaymackay opened #1275 "Bill homepage links on October division pages not working"
The bill homepage links included on our division pages for October are not working (example below).

Fortunately, this issue seems to only be affecting divisions uploaded in this latest October sitting period, so perhaps it's related to that uploading issue we had earlier?

Note that I think I'm the only person who ever uses these links, and I can easily work around it, so this issue is not urgent

[2021-11-04 22:52] mlandauer commented on #1274
@mackaymackay with chrome what's the url in the url bar when that appears. Also, what operating system are you using? Is it windows?

[2021-11-04 22:55] mackaymackay commented on #1274
URL in Chrome: http://email2.theyvoteforyou.org.au/divisions/senate/2021-10-21/6

And yes, sorry, it is Windows I'm using.

[2021-11-05 09:42] kat commented on #1274
I get the same error using firefox on OS X (page you're looking for does not exist)- but only when 'email' is at the head of the URL.

—
Katherine Szuminska

--- original message ---
On November 5, 2021, 9:55 AM GMT+11 ***@***.*** wrote:

URL in Chrome: http://email2.theyvoteforyou.org.au/divisions/senate/2021-10-21/6

And yes, sorry, it is Windows I'm using.

—

You are receiving this because you

[2021-11-05 21:53] xavella opened #1276 "aspect ratio appears incorrect for some MP photos"
aspect ratio appears incorrect for some MP photos
example: https://theyvoteforyou.org.au/people/representatives/higgins/katie_allen

[2021-11-05 22:17] xavella opened #1277 "Generate twitter card as part of twitter share button from the MP's policy page"
As a user, when I click the share button on the MP's policy page, I want the content I'm sharing to appear in the post as opposed to just a hyperlink back to the page, as my intention is to share the content as opposed to a nondescript hyperlink.

Preferred implementation:  render an image containing the content and when clicking 'share' pull that image into a twitter card inserting both the image

[2021-11-05 23:03] mlandauer commented on #1274
@mackaymackay I can see there's a bitdefender "traffic lights" firefox extension https://addons.mozilla.org/en-US/firefox/addon/trafficlight/. Is that the one you're using? Or are you using the paid firewall product? Is it https://www.bitdefender.com/solutions/internet-security.html that you're using? Or one of the others by bitdefender.

Still just trying to reproduce the original problem which I

[2021-11-09 04:12] mlandauer commented on #1277
Good call. Since we already do this for an MPs page it makes sense to do it for a policy page which is what someone would share if they were talking about how a particular MP votes on a particular issue.

[2021-11-11 20:34] Fuviadark opened #1278 "The weighting method is deeply confusing"
I’m very supportive of a site that brings transparency re. the political voting records of our politicians. However, there is no easy way of understanding your weighting method and how it results in someone being assessed as voting “strongly against” for example. Such a choice of words will suggest zeal or force of emotion to a number of your readers who, like me, will find no supporting informati

[2021-11-11 21:36] mackaymackay commented on #1278
This is a great point @Fuviadark

What other language could we use? Off the top of my head, I'm thinking:

- almost always votes in favour
- mostly votes in favour
- sometimes votes in favour
- votes both ways
- sometimes votes against
- mostly votes against
- almost always votes against

The language is a bit clunky, but may be better? What do you  think @kat @mlandauer?

[2021-11-11 21:44] mackaymackay commented on #1274
@mlandauer yes, it's Bitdefender Internet Security

Trying it once again in Chrome, and clicking directly on the link from my email (as opposed to copy/pasting it), I still get the same message ("the page you're looking for doesn't exist") with that same URL in the search bar, i.e. http://email2.theyvoteforyou.org.au/divisions/senate/2021-10-21/6

[2021-11-12 00:35] bdcarr commented on #1278
Came here for a similar reason. If there's only been one vote on a particular issue, and a given pollie has voted against it, that shows up as 'Very Strongly Against'.  I think you could resolve this by making the # of votes on an issue more prominent when looking a given pollie's issue summary.

You've also got weakly-related motions apparently being counted for an issue with full strength, for e

[2021-11-15 00:01] mlandauer commented on #1274
@mackaymackay I can see from the email that you copied and pasted above that the link url is http://email2.theyvoteforyou.org.au/l2/523178250/61042728c6b3d51a22915f44ebf242997364ce67?url=%2Fdivisions%2Fsenate%2F2021-10-21%2F6 which is what I would expect it to look like rather than http://email2.theyvoteforyou.org.au/divisions/senate/2021-10-21/6.

Does that make sense?

[2021-11-15 00:21] mackaymackay commented on #1274
@mlandauer yes, for whatever reason, when I right click on the link in the email and copy it, that longer url is what I get (i.e. http://email2.theyvoteforyou.org.au/l2/523178250/61042728c6b3d51a22915f44ebf242997364ce67?url=%2Fdivisions%2Fsenate%2F2021-10-21%2F6), but when I actually click on the email's link, or even just paste that longer url in the search bar, it changes to http://email2.theyvo

[2021-11-15 00:23] mlandauer commented on #1274
Super weird! Hmm...

[2021-11-15 00:46] mlandauer commented on #1278
Thanks @Fuviadark and @bdcarr for dropping by. I really appreciate you bringing your suggestions here.

This is related to #1066 which is an old (but a good) suggestion to change the wording of the policy agreement summary. I agree that our current wording causes confusion. One of the big points of confusion is that divisions are weighted to be either "normal" votes or "strong" votes. This weighti

[2021-11-15 00:48] mlandauer commented on #1066
In #1278 @mackaymackay suggested the wording:
* almost always votes in favour
* mostly votes in favour
* sometimes votes in favour
* votes both ways
* sometimes votes against
* mostly votes against
* almost always votes against

[2021-11-15 00:53] mlandauer commented on #1265
Yikes I think this is because I cleared out a bunch of old php routes that I thought weren't being used anymore but it looks like it's being used here. I'll fix this immediately.

[2021-11-15 02:08] #1265 closed

[2021-11-15 02:13] mlandauer commented on #1066
In https://github.com/openaustralia/publicwhip/issues/1278#issuecomment-968407677 I explain why I've fallen firmly now on the side of changing the policy agreement summary wording. A journalist got something pretty fundamental wrong probably because we used the word "strong" in two very different ways which is confusing.

[2021-11-15 02:29] mlandauer commented on #1066
For reference the complete list of wording that is currently being used in the UK by TheyWorkForYou (see https://github.com/mysociety/theyworkforyou/blob/f792da7fde5e527839cd04ee6ddd5aff7db0ab72/www/includes/utility.php#L1118)

* consistently voted for
* almost always voted for
* generally voted for
* voted a mixture of for and against
* generally voted against
* almost always voted against
* cons

[2021-11-15 02:53] mlandauer commented on #1066
Looking at the wording that mysociety is using again it's definitely growing on me and making much more sense now. I like the "temporal" aspect of it - that it implies that there are multiple votes and that the person might have voted differently at different times. Also, because "consistently" and "almost always" are very similar and fuzzy concepts it doesn't create a clean line when an policy ag

[2021-11-15 17:45] mlandauer opened #1279 "Help documentation on how policy agreement is worked out confuses "strong" votes as used in weighting votes with "strong" policy agreement"
See https://theyvoteforyou.org.au/help/faq#stance

This is the same confusion mentioned in https://github.com/openaustralia/publicwhip/issues/1278#issuecomment-968407677

It looks like the change was made a couple of years ago in 68238a80644b61ea2569ea9756feb396293bbcd0

It might just be worth reverting the change in the short term until we come up with some better wording

[2021-11-18 00:45] mlandauer opened #1280 "Downplay public contributions to policy creation and division summarising and make more clear statements about the work that OAF does around curation of material on the site"
Right now you wouldn't know from the site that OAF looks after the policies. There's sort of underlying assumption that that is the case and it is but it isn't actually said anywhere in black and white.

The reason is that when we started the site we didn't know how community involvement in editing stuff on the site was going to evolve. So, we left it all very open.

The situation now is very very

[2021-11-18 00:47] mlandauer opened #1281 "Show OAF users / contributions differently then community contributions"
For instance we could show "last edit by Mackay" with a little pill next to it that says "Staff"

[2021-11-18 00:47] mlandauer commented on #1281
This is related to #1280

[2021-11-23 06:18] mlandauer opened #1282 "[They Vote For You/production] ActionView::Template::Error: undefined local variable or method `member' for #<#<Class:0x0000000004b39648>:0x00007f0c057b66d8> Did you mean? @members"
## Backtrace

    line 11 of [PROJECT_ROOT]/app/views/divisions/_divisions.html.haml: _app_views_divisions__divisions_html_haml__281459251111653374_32904380
    line 39 of [PROJECT_ROOT]/app/views/divisions/show.html.haml: _app_views_divisions_show_html_haml__2152481734367025484_69844809901420

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/8

[2021-11-23 06:19] #1282 closed

[2021-11-23 06:22] mlandauer commented on #1207
Now urls for "old" memberships get redirected to the most recent member. So, this is now fixed

[2021-11-23 06:22] #1207 closed

[2021-11-23 22:21] mlandauer commented on #827
This was fixed in 4ac4fa227d8af7eb774439468a1545639fb68a3a which added the ability to sort by policy name or the number of subscribers

[2021-11-23 22:21] #827 closed

[2021-11-23 22:28] mlandauer opened #1283 "Rename "policies" to "issues" because "policies" causes some confusion"
Governments or organisations have policies. How we use the word is a little abstract and strange. In a sense it's good that it's a little abstract because it forces people to try to understand what it means but unfortunately that isn't always the case.

My suggestion here is that we change "policies" to "issues". That word is a little more generic and curiously enough is always the wording we use

[2021-11-23 22:28] mlandauer commented on #1283
@mackaymackay what do you think about the idea of making this change?

[2021-11-23 22:56] mlandauer opened #1284 "[They Vote For You/production] ActionView::Template::Error:"
## Backtrace

    line 124 of [PROJECT_ROOT]/app/helpers/policies_helper.rb: policy_version_sentence_text
    line 244 of [PROJECT_ROOT]/app/helpers/policies_helper.rb: version_sentence_text
    line 8 of [PROJECT_ROOT]/app/views/alert_mailer/policy_updated.text.erb: _app_views_alert_mailer_policy_updated_text_erb___2711772932007950608_21261720

[View full backtrace and more info at honeybadger.io

[2021-11-24 00:15] #1284 closed

[2021-11-24 00:40] mlandauer opened #1285 "Not all current members are shown on the policy detail page"
See for example on page https://theyvoteforyou.org.au/policies/56 it shows the following people as having "voted very strongly for decreasing ABC and SBS funding" :
![image](https://user-images.githubusercontent.com/2221/143150185-889f1a93-dd49-44a1-8330-92333a8f5e6d.png)

If you look at https://theyvoteforyou.org.au/people/representatives/bennelong/john_alexander/policies/56 you can see that John

[2021-11-24 00:45] #1285 closed

[2021-11-24 01:19] mackaymackay commented on #1283
@mlandauer sounds good to me - I'm not particularly wedded to the word "policies" and can see how it could get confusing

[2021-11-25 03:40] mlandauer commented on #1066
Thanks @mackaymackay for your suggestions. I think they're really close in spirit to what the mysociety folk came up with. On balance their language has a consistency to it. I think your language largely creates sentences that flow better but in this case I think the brutal consistency of their wording is helpful in the current context.

So, after thinking this through and chatting to @katska we t

[2021-11-25 03:41] #1066 closed

[2021-11-26 02:43] mackaymackay opened #1286 "Division should say "not passed" as absolute majority req'd"
This following division should be marked as "not passed" as it did not achieve absolute majority, as required in this case: https://theyvoteforyou.org.au/divisions/representatives/2021-11-25/2

[2021-11-26 09:44] mlandauer commented on #1286
Is this a duplicate of #473?

[2021-11-29 00:30] mlandauer commented on #1244
I think we would be better placed by focusing our efforts on adding a feature to compare the voting records of two specific people #1251. That's a much more tangible, concrete thing and is more consistent with our overall approach on TVFY of focusing on how individual politicians vote rather than how their parties vote.

I do think that #1251 will go along way to actually to answering that user's

[2021-11-29 00:30] #1244 closed

[2021-11-29 00:36] mlandauer opened #1287 "Search with mysql (rather than elasticsearch) seems to be broken in development"
This is only really an issue in development as we always use elasticsearch for searching in production.

There are two potential avenues:
1. We fix the mysql issue which means that it's easier to get going in development with search. However it might be confusing because it will do different things than in production!
2. Switch fully over to elasticsearch and remove the mysql search code. This has

[2021-11-29 00:43] mlandauer commented on #1269
Since this causes the site to error for a couple of minutes each day when new divisions are loaded we should get this fixed soon. I guess it's not going to be super crucial to address for the upcoming election because once the election starts and people might refer to TVFY for reference parliament will not actually be sitting and so this problem shouldn't occur.

[2021-11-29 00:45] mlandauer commented on #1271
I think this would make the whole weighting system for votes much more obvious to people idly glancing across the page. You really need to dive in quite deeply right now to make sense of it all whereas if we show the "strong" votes separately and explain underneath that these are more important votes and are weighted differently in the calculation it all becomes much more obvious.

So, I think we

[2021-11-29 00:50] mlandauer commented on #1100
I've noticed this bug enough times now in just browsing through the site. It definitely makes it confusing and some, given the recent press, might use this bug as an indication that there is something underhand going on which obviously there isn't but you know, perceptions and all that...

[2021-11-29 03:13] cofiem commented on #1287
I'm not familiar with the SQL vs Elasticsearch searching, but option 2 sounds more useful if it better reflects the situation in production. Would hopefully make it easier to improve the search, as well.

[2021-11-30 05:19] bobsbarrels commented on #1283
`grep -rin 'polic' *` isn't pretty. But a divide and conquer approach will be good.

Here's an overview: https://gist.github.com/bobsbarrels/e9702f916f6b78778f4e3fe434350544

Coverage and logs are excluded.

[2021-11-30 07:27] mlandauer commented on #473
From #1286 another specific example is https://theyvoteforyou.org.au/divisions/representatives/2021-11-25/2

[2021-11-30 07:27] mlandauer commented on #1286
I'm closing this in favour of #473 which is the more general issue

[2021-11-30 07:27] #1286 closed

[2021-11-30 20:12] bobsbarrels opened #1288 "Vagrant setup seems to be obsolete: update, replace or remove?"
Having a run at getting the `openaustralia/publicwhip/blob/master/Vagrantfile` working was tough and ultimately for me a failure.

There were a range of bugs, mainly pertaining to old versions/resources no longer being available. For example the very first one upon running `vagrant up` the first time is:

[code]
Simply replacing to `bento` will take you so far.

There are dependency issues that I

[2021-11-30 20:25] bobsbarrels commented on #1287
In my recent experience I just installed both locally and it "magic worked". Elasticsearch is potentially just a necessary dependency, as @cofiem said: it reflects production, that's what you want in a development environment.

This is a genuine concern for the reporter though, could provide support for them to install Elasticsearch.

[2021-11-30 20:46] bobsbarrels opened #1289 "help/faq: a number of external links are broken"
There are links to external webpages that no longer exist:

This is the list found so far, just eyeballing "faq", though there may be more.

---

https://theyvoteforyou.org.au/help/faq#division-occur

Most decisions in Parliament are made **‘on the voices’** and not by division.

broken: https://peo.gov.au/understand-our-parliament/voting-in-the-chambers.html

---

https://theyvoteforyou.org.au/he

[2021-11-30 20:46] bobsbarrels commented on #1289
If correct link is provided I'm happy to fix this :)

[2021-11-30 20:48] bobsbarrels commented on #1289
Actually this is the tip of an iceberg. Collecting bunch of broken external links ... TBA.

[2021-11-30 21:33] katska commented on #1289
The information is now at https://www.aph.gov.au/About_Parliament/Senate/Powers_practice_n_procedures/Odgers_Australian_Senate_Practice/Chapter_11 although not in a usefully separate section as before http://web.archive.org/web/20170403002105/http://www.aph.gov.au/About_Parliament/Senate/Powers_practice_n_procedures/odgers/chap1107

[2021-11-30 21:47] bobsbarrels commented on #1288
Actually doing both is probably an option with a time scale. It's not either/or: can probably deprecate Vagrant right now and add to the backlog to create new VM (that matches prod). Flavour of VM is a whole different conversation, probably to adjudicated by whoever takes on the task.

I'm working on alt installation instructions (reflecting my process) which should be made public shortly, hopeful

[2021-12-01 00:26] mlandauer commented on #1125
Another option which I think I'm favoring right now is that we exclude particular policy positions for an MP completely if they haven't been present during a certain number of votes. Right now we do that if they've never voted. I think it would be better if we only include them if they voted yes or no on 3 or more votes. That would also make the "consistently" language make more sense more of the

[2021-12-01 00:39] mlandauer commented on #490
Given the recent interest in the site and that people are starting to really look under the hood how things work and the specific decisions that are made I think adding this feature is now a priority. The need for comments around vote attachment on policies is particularly crucial

[2021-12-01 00:43] mlandauer commented on #17
I do think we should support this for completeness and accuracy. However as far as I'm aware no user has ever queried pairs so I'm really not sure it's particularly relevant to people

[2021-12-01 02:01] katska commented on #1125
Agree in principle but not with this threshold

[2021-12-01 05:46] mlandauer commented on #751
I think we actually do this now. So, closing.

[2021-12-01 05:46] #751 closed

[2021-12-01 06:41] cofiem commented on #1288
I've had a go at the Vagrant setup myself recently. I was motivated because right now the repo can't be cloned on Windows due to files with invalid (on Windows) characters (e.g. `?`).
My fork branch is here: https://github.com/cofiem/publicwhip/tree/feature-windows/local_dev
It is not complete, but might be useful for you.

[2021-12-01 08:50] mlandauer commented on #876
There are a whole bunch of issues that are looking at the problem of explaining the policy agreement summary and how it's calculated and finding ways to improve it.

[2021-12-01 08:52] mlandauer commented on #878
I think this problem will just go away when we compare people rather than members.

[2021-12-01 09:01] mlandauer commented on #910
Given the feedback from @mackaymackay i don't think we should do this. So closing

[2021-12-01 09:01] #910 closed

[2021-12-01 20:18] bobsbarrels commented on #1283
Note that I'm close to stalled on "Issues" refactor on a few fronts:

* "issues" as a term is not unfraught, and still potentially has multiple meaning, I've spent ages refactoring but it's still perhaps "issues" is not the best term, maybe "topics" or something else could express the meaning?

* the CRUD seems pretty tightly bound to the controller name "policies", which makes the refactor deeper

[2021-12-01 23:50] mlandauer commented on #1283
Yes i see what you mean. I do think that the word "issues" is a step in the right direction compared to "policies" so I do think we should go ahead even if it isn't perfect. How about:
"An issue is a group of votes which, taken together, shows a particular stance on a matter of public policy"
(This is jumping off from your suggestion in slack as well talking to @katska)

"Issues" is then what we c

[2021-12-02 00:52] mackaymackay commented on #1069
As this seems to be the main github issue for improvements to the policy page, I'll add this here:

We had an email this week suggesting that policies should also be sorted by date on the policy page. Currently, we only have an option to sort by name or subscriber numbers.

The user wants to be able to more easily find recent legislation when they don't know its actual name, i.e. they go to the re

[2021-12-02 01:24] mlandauer opened #1290 "Add sort by date option to policies index page"
We had an email this week suggesting that policies should also be sorted by date on the policy page. Currently, we only have an option to sort by name or subscriber numbers.

The user wants to be able to more easily find recent legislation when they don't know its actual name, i.e. they go to the relevant policy and look through the divisions from there, but find it a longer process due to not bei

[2021-12-02 01:26] mlandauer commented on #1290
@mackaymackay So what specifically should the date be? Should it be the date when the policy was most recently updated or somehow related to the dates of the divisions?

[2021-12-02 01:26] mlandauer commented on #1069
@mackaymackay i've split your comment above into a separate issue #1290

[2021-12-02 01:52] mackaymackay commented on #1290
@mlandauer the email referred to recent legislation, so presumably wanted the date to match the dates of the divisions. Though I'm not sure how exactly that would be done, as I imagine it would be easier to go by when the policy was most recently updated, which is usually a fairly close match to division dates (except for when I'm working through the backlog, in which case there would be a big dif

[2021-12-02 11:10] mlandauer commented on #1083
I'm going to assume that looking at the code made it all make sense ;-)

[2021-12-02 11:10] #1083 closed

[2021-12-02 15:59] mlandauer opened #1291 "Show all the bills in one place so that users can explore from there"
Occasionally a more informed user will know about a particular bill and they want to find out how their representative has voted on it. Currently this can be quite tricky.

Suggested solution:
* Add a bills index page which lists all the bills that have been voted on in divisions (include an explanation of why it isn't a complete record and bills passed on the voices are missing)
* For each bill h

[2021-12-03 08:41] mlandauer commented on #1197
This one is super important to get fixed really soon

[2021-12-09 04:55] mlandauer commented on #1125
What threshold do you think is right @katska?

[2021-12-09 04:57] mlandauer commented on #664
Thanks @mackaymackay. In the case I'll close this as a won't fix.

[2021-12-09 04:57] #664 closed

[2021-12-09 04:59] mlandauer commented on #693
Given what @mackaymackay I think I'll just close this as a "won't fix"

[2021-12-09 04:59] #693 closed

[2021-12-13 03:46] #1100 closed

[2021-12-13 03:52] mlandauer commented on #1100
Latest version (that includes this fix) has now been deployed to production

[2021-12-13 04:17] mlandauer commented on #982
When a policy division is added/changed/deleted `calculate_person_distances!` (https://github.com/openaustralia/publicwhip/blob/9bf41831d92e3f5cfb09131d479f56162dd9a0e7/app/models/policy.rb#L59) is run in the background. The first thing it does in this current implementation is delete all the cached person distance measures for this policy. That's what is causing this problem

[2021-12-13 04:38] mlandauer commented on #982
Looks to me like `calculate_person_distances!` is not being tested. So, the first thing to do is to add that. Not an entirely straightforward thing to do unfortunately.

[2021-12-14 04:00] Taz17 commented on #1095
This issue could be fixed by removing the padding that is applied on to the `col-sm-7` class.

![Alignment screenshot](https://user-images.githubusercontent.com/86769131/145928144-8f2dd5bd-4dce-4a0f-b252-a68441635c2c.png)

The above screenshot shows what it would look like with the left and right padding removed. Keep in mind this aligns the paragraph with the grey horizontal line beneath the work

[2021-12-14 22:32] bobsbarrels commented on #1289
Looks like PEO have done an upgrade also, but it's not totally stable. Some googling around gave me this link for "on the voice", though it timed out then came up with a server error then loaded as I think the correct page:
https://peo.gov.au/understand-our-parliament/how-parliament-works/parliament-at-work/voting-in-parliament/

[2021-12-14 23:21] bobsbarrels commented on #1198
In `routes` that `"/people/:house/:mpc" => redirect("/people/%{house}")`
https://github.com/openaustralia/publicwhip/blob/master/config/routes.rb#L32

If instead this was broken out in to own controller/view this allows a list of senators per state (for example).

Code is here: https://github.com/bobsbarrels/publicwhip/commit/5baf2043545cba6b4625aa9d91075b401eca0c7d

![Screenshot from 2021-12-15 1

[2021-12-15 00:24] mlandauer commented on #1243
I think I'll just close this as a duplicate of #1197

[2021-12-15 00:24] #1243 closed

[2021-12-15 00:27] mlandauer commented on #1190
Oops. Pressed the wrong button! :-(

[2021-12-15 03:33] Taz17 commented on #1290
@mackaymackay The `created_at` variable holds the date which the policy was created on the tvfy platform. I believe tvfy does not have the date which which matches the date of the divisions.

So, I resulted to add the `Sort by Date Edited` onto the policies index page

[2021-12-15 03:34] #1095 closed

[2021-12-15 03:37] mlandauer commented on #1290
We do have the dates of the divisions. It's just stored with the division object rather than the policies object

[2021-12-15 03:39] mlandauer commented on #1290
I do think the "sort by date edited" is a reasonable approach

[2021-12-15 04:00] Taz17 commented on #1069
I have an idea as to how this would be implemented.

When a policy is created the creator has the ability to add a tag. For example `Education` tag

Or when a policy is edited the editor has the ability to add a tag. Again, for example `First Nations` tag

The tag does not have to appear on the UI.

The tag is stored and is used by the program to group (categorize) policies together.

I cannot thi

[2021-12-15 04:30] mlandauer commented on #1069
@Taz17 Yup that's pretty similar to what I was thinking. When you say "the tag does not have to appear on the UI", do you mean when you add a tag it doesn't need to show the pre-existing tags or is do you mean that when you look at the full policies list (e.g. https://theyvoteforyou.org.au/policies) the tags don't need to displayed there?

I do think that on pages where we are listing a lot of dif

[2021-12-15 05:19] Taz17 commented on #1069
Yes tags for each individual policy should not be displayed on https://theyvoteforyou.org.au/policies

That being said, the tag should be displayed when a user chooses to edit the policy.

I suggest that when on https://theyvoteforyou.org.au/policies only the category name should be visible.

Eg:

### Education
<ol>
<li> Policy One </li>
<li> Policy Two</li>
<li> Policy Three</li>
<li> Policy Four

[2021-12-15 05:54] Taz17 commented on #1202
@mlandauer should we use the word `attended` instead of `turnout` since we have the definition of `attendance` in the FAQ

[2021-12-15 05:59] mlandauer commented on #1202
@Taz17 could you please create a new issue for this suggestion? On the face of it it makes sense to me. Could you also look through the codebase and all the user-facing wording and see what wording is used in other places (if any)? Thank you

[2021-12-15 06:17] Taz17 opened #1298 "Using attended instead of turnout throughout the website"
On this page https://theyvoteforyou.org.au/divisions/senate/2018-06-27/5

The word `turnout` is used to describe the attendance.

In the TheyVoteForYou FAQ we have defined `attendance`

It seems logical to use the word `attended` instead of `turnout`

So it would be `66% attended`

[2021-12-15 06:21] Taz17 commented on #1202
That is now in issue #1298

[2021-12-15 06:24] Taz17 commented on #1298
Closing this issue as turnout is defined right beneath the table as `Turnout is the percentage of members eligible to vote that did vote`.

Does not mean attendance.

[2021-12-15 06:24] #1298 closed

[2021-12-15 06:47] mlandauer opened #1299 "If a search returns no results explain that the site only covers federal parliament"
If a person is looking for a member of parliament that is not in Federal parliament. e.g. "Brent Mickleberg" (someone emailed us today asking about this) then what they might do is try to search for that person. If the search result isn't a good match or there are no results at all it would be great if the user was at this point reminded that they might not be finding what they want because TVFY o

[2021-12-17 00:03] mackaymackay opened #1303 "December 2021 divisions not uploaded"
The divisions that occurred on 1 & 2 December 2021 have not been uploaded to TVFY for either the House or the Senate. The divisions that occurred the day before (30 Nov) uploaded fine.

[2021-12-20 02:02] Taz17 commented on #1081
For this feature, is the aim to use this basic email sign up in order to gain a new user or is the aim to capture some ones email in order to send out updates to that one particular page that they were on/postcode.

[2021-12-20 20:16] mlandauer opened #1304 "Periodically check that all links in markdown for divisions are valid"
For instance on this division https://theyvoteforyou.org.au/divisions/representatives/2007-08-07/1 there is a link for "Jenny Macklin" that uses an old (php style) link to theyvoteforyou which we are no longer redirecting because it's long-since been phased out in other areas and was only used briefly before the public launch of the site.

We could just rewrite those links but it makes sense to in

[2021-12-20 20:28] mbourne opened #1305 "Colour coding for "voted for", "against""
Currently, on a phone, the green headings like "Voted consistently for" and red for "against", are helpful. But after scrolling down the lists on several pages on a phone, it's easy to lose track of whether you are in a "consistently for" or whatever section.

It would be very helpful to have a coloured icon with a tick or cross (or better) on the left of each voted for topic. Another possibility

[2021-12-20 23:29] mlandauer commented on #1304
@Taz17 could you please pick this one up? Please only do the simple version, the "proof of concept" to make a rake task to output the problematic division urls and the specific links that are the problem. I want the solution to not make more external http requests than required and to not depend too specifically on the markup format (e.g. use the markdown parser we're already using to do the heavy

[2021-12-20 23:30] mlandauer commented on #1304
The idea is then we can give that list to @mackaymackay to go through and fix

[2021-12-20 23:41] mlandauer commented on #1081
@Taz17 from the cynical OAF perspective it's helpful for us to get email addresses of people who are interested in the site for one reason or another. That means that we can ask them to support the running of the site by donating when we do our usual end-of-financial-year fundraiser. From the user perspective they can sign up to get updates on particular policies already using the "subscribe" feat

[2021-12-21 03:14] #1277 closed

[2021-12-21 04:02] mlandauer opened #1306 "Rethink/Redesign Twitter cards and Facebook share cards"
These were originally put together when the guidelines around image sizes were quite different. We should rethink/redesign the cards with much larger images to take advantage of "the new normal". We did this recently with righttoknow and I think the result is a much improved "sharing" experience with content that stands out much more from the crowd than it used to.

This also could be combined wit

[2021-12-23 00:43] mlandauer opened #1307 "Add admin option to user and access to a basic admin panel that allows admin to make others users admins"
We need to add this to enable a few other features:
* We want to add feature flags which has an web UI that only admins should have access to. We need to add feature flags to be able to deploy changes for #1125 in such a way that @mackaymackay can see the new feature and test it out without it being rolled out to everyone
* We want only admins to be able to say which users are "staff" (#1281)

[2021-12-23 00:50] mlandauer commented on #1307
For the admin panel we just initially want a way to edit other users. I've had a good experience migrating PlanningAlerts over to using [administrate](https://administrate-demo.herokuapp.com/) so I think we should use that

[2021-12-23 02:01] #1307 closed

[2021-12-31 02:50] uozuAho opened #1310 "New contributor: where do you need help?"
Hi there, I'm interested in helping out with this project, but am not sure where you need help the most. I'm a software developer, but don't mind doing "non develop-y" stuff if that's what's needed. My first thought would be to look into the open "good for first contribution" issues. Even though a lot of them are old, they still appear relevant.

On a different topic, do you have links to what oth

[2022-01-07 02:20] mackaymackay commented on #1274
We received an email today from a user about this issue:

[2022-01-07 05:27] mlandauer commented on #1274
I now see I completely missed what was the core issue here. The problem is that the links in the emails don't have domains in them. Eek! This is bad but should be easily fixed I think. It's no doubt due to some of the hasty fixing and refactoring I've been doing.

[2022-01-08 07:21] mlandauer opened #1311 "[They Vote For You/production] ActionView::Template::Error: No route matches {:action=>"show", :controller=>"divisions", :house=>#<Division id: 6331, valid: true, date: "2020-05-12", number: 1, house: "representatives", name: "Business &#8212; Days and Hours of Meeting", source_url: "http://parlinfo.aph.gov.au/parlInfo/search/display...", debate_url: "http://parlinfo.aph.gov.au/parlInfo/search/display...", motion: "<p class=\"motion-notice motion-notice-notext\">No m...", clock_time: "016:18:00", source_..."
## Backtrace

    line 7 of [PROJECT_ROOT]/app/views/layouts/_history_list.html.haml: block in _app_views_layouts__history_list_html_haml___4200876614415006980_70338668833340
    line 2 of [PROJECT_ROOT]/app/views/layouts/_history_list.html.haml: each
    line 2 of [PROJECT_ROOT]/app/views/layouts/_history_list.html.haml: _app_views_layouts__history_list_html_haml___4200876614415006980_70338668833

[2022-01-08 07:25] #1311 closed

[2022-01-08 08:32] mlandauer opened #1312 "Add JavaScript error reporting"
Probably using Honeybadger

[2022-01-08 08:33] mlandauer commented on #1312
Right now JavaScript errors can happen on the client side and we could easily not know

[2022-01-08 08:36] mlandauer opened #1313 "Run pagespeed insights over site and improve performance"
https://pagespeed.web.dev/

[2022-01-08 09:00] mlandauer commented on #1312
https://www.honeybadger.io/for/javascript/

[2022-01-14 02:05] mackaymackay opened #1314 "Update documentation to explain what a 'strong' vote is (i.e. "Yes (strong)" and "No (strong)")"
A draft explanation:

[2022-01-14 23:46] mlandauer opened #1315 "[They Vote For You/production] ActionView::Template::Error: undefined method `division_path' for #<#<Class:0x0000000004b65888>:0x0000000005ff5cf8> Did you mean? division_url"
## Backtrace

    line 5 of [PROJECT_ROOT]/app/helpers/path_helper.rb: division_path_simple
    line 163 of [PROJECT_ROOT]/app/helpers/policies_helper.rb: policy_division_version_sentence
    line 231 of [PROJECT_ROOT]/app/helpers/policies_helper.rb: version_sentence

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/83529043)

[2022-01-15 00:03] #1315 closed

[2022-01-17 00:52] mlandauer commented on #1090
This idea initially didn't appeal to me but I've come around. Here's why:

The only way we could reliably fit the person's name alongside (or under) the photo is if we just use their last name. This is a perfectly reasonable approach but one that actually is different then everywhere else we use MPs names. Everywhere (as far as I'm aware) on openaustralia.org.au and theyvoteforyou.org.au we use pe

[2022-01-17 01:27] mlandauer commented on #1306
There are two different parts to this issue. One of them, which I think is the most important is to create automated screenshots for twitter/facebook shares for the people/policy pages (e.g. https://theyvoteforyou.org.au/people/senate/queensland/nita_green/policies/86). These are the pages that are by far and away the most commonly shared on social media. I'll split that out into a separate issue

[2022-01-17 01:41] mlandauer opened #1316 "When sharing a person/policy page or person page or policy page on Twitter and Facebook automatically attach a image card with the relevant information on the page"
This will make social media shares much more engaging and eye-catching as well as making it easier for people that are right now generating screenshots by hand and attaching them to their posts.

So, for instance right now people do something like this:
![image](https://user-images.githubusercontent.com/2221/149687477-2639b338-1f24-4e18-81f4-d95074d69310.png)
https://twitter.com/pie_n_sauce/status

[2022-01-17 01:45] mlandauer commented on #1316
Hi @Taz17 @tseyiokorodudu as I mentioned on slack I'd like the two of you to work together closely on this one. My strong suggestion is you don't just divide up the work and work on separate bits but rather tackle the whole process of doing some research, design and prototyping together so you can learn from each other as well through the whole process. You each bring your own strengths and experi

[2022-01-17 01:51] mlandauer commented on #1316
https://twitter.com/search?q=theyvoteforyou.org.au&src=typed_query to see when people link to the site on Twitter. This is really helpful research to understand how people use the site and what we can do to support what they do.

It would be good to try to do some similar research with Facebook.

Information about "twitter cards":
https://developer.twitter.com/en/docs/twitter-for-websites/cards/ov

[2022-01-17 01:53] mlandauer commented on #1316
I'm just going to paste in here what I said on slack too for easy reference:

[2022-01-17 01:57] mlandauer commented on #1316
This is how theyworkforyou in the UK implement something similar. See for example https://www.theyworkforyou.com/mp/10001/diane_abbott/hackney_north_and_stoke_newington/votes
![image](https://user-images.githubusercontent.com/2221/149689086-e6d3ecb0-8b05-4d23-a585-12144334ae26.png)

[2022-01-17 05:22] her-radicalness opened #1317 "Andrew Bartlett party membership"
Andrew Bartlett has been a Federal Senator twice. His main stint was with the Australian Democrats, and he also briefly stepped in for Larissa Waters (when she resigned due to dual citizenship) as a Greens Senator. His voting record is only listed under the Dems. It might corrupt the data to have his votes as a Greens Senator combined with his Dems voting.

No drama if this can't be changed, just

[2022-01-18 05:10] Taz17 commented on #1304
Closing this issue since its done.

[2022-01-18 05:10] #1304 closed

[2022-01-19 04:26] tseyiokorodudu commented on #1316
This is a summary of the research and thinking we've done so far in regards to understanding the problem space.

## The Challenge

Rethink/Redesign Facebook/Twitter card as stated in issue #1306.

### Problem statement
 HMW create a more **interactive**, **engaging** , **unique** and **aesthetically pleasing** Facebook/Twitter card.

### Goal

To improve the social media sharing experience by maki

[2022-01-20 00:50] tseyiokorodudu commented on #1306
@mlandauer Just to clarify... Currently when an MP's page is shared this is the output. Would this fall under a situation where the more generic image can be used?

![image](https://user-images.githubusercontent.com/31440427/150240639-8851a15b-72c0-4dee-b51f-9a616e53d132.png)

If yes, my assumption then is, anything that isn't a screenshot of a specific information uses the generic image but the c

[2022-01-20 00:56] mlandauer commented on #1306
@tseyiokorodudu I think when sharing a particular person on twitter/facebook we should make a specific image. Right now we're using only a small image for that person as you can see. I do say that in the title for #1316 but perhaps I could be clearer.

As for the second thing, yes I think we sharing a generic image we should change the description and title to match the shared page. That's also wh

[2022-01-23 21:49] tseyiokorodudu commented on #1316
## Design
Below is an initial rough mockup of some images.

#### Design 1 - Sharing the website
![Twitter post - 8-2](https://user-images.githubusercontent.com/31440427/150698266-944929f6-9dcd-49c4-9d4f-99f1f98544be.png)

#### Design 2 - Sharing the whole policy page
![Twitter post - 5-2](https://user-images.githubusercontent.com/31440427/150698382-08536032-369c-48b0-a522-92291011d531.png)

- Rand

[2022-01-23 21:51] tseyiokorodudu commented on #1316
## Further Considerations/decisions

1. Obviously, in trying to keep with the brand of TVFY, I have used the colours of the website on the card. Although, I wonder if maybe a subtle nod to the brand will be preferable.
2. On IOS/Andriod devices card description are omitted ... bearing this in mind, how do we ensure we are not adding too much information on the card image to make up for this limita

[2022-01-24 22:50] mlandauer opened #1319 "[They Vote For You/production] ActiveRecord::RecordInvalid: Validation failed: Person must exist"
## Backtrace

    line 19 of [PROJECT_ROOT]/app/lib/data_loader/offices.rb: block in load!
    line 13 of [PROJECT_ROOT]/app/lib/data_loader/offices.rb: load!
    line 48 of [PROJECT_ROOT]/lib/tasks/application.rake: block (3 levels) in <top (required)>

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/83686682)

[2022-01-24 22:50] mlandauer commented on #1319
Looks like a result of the recent rails upgrade

[2022-01-25 00:19] katska opened #1320 "create a clear description for new category status "[Name] Has not voted enough to determine a position on"'"
Speaking with @mlandauer he ponders 'Thinking of just making it shorter "Has not voted enough on" - I know you had very sensible issues with that wording. Is there some other version that would be concise yet clear and accurate?'

[2022-01-25 00:21] katska commented on #1320
Initial thoughts: Not enough

[2022-01-25 00:43] katska commented on #1320
It may be less pretty - a side thought - that we preface the statement with 'According to our records', while this is far from perfect solution, something like this encourages some discussion of what those records are. The downside is that it's more words and sounds less definitive from the getgo, even when there's a more confident set of data on a position.

[2022-01-25 01:32] katska commented on #1320
I've been trying hard to think of phrasing in a way that sticks with the format that goes with Name followed by position statement.
Another option @mlandauer raised would be to not show this information at all until there's enough of a record to say something about it.
In discussion just now we agreed it's important to characterise the situation in context so we can depart from the pattern of the

[2022-01-25 01:33] #1319 closed

[2022-01-29 22:05] mlandauer opened #1321 "[They Vote For You/production] NoMethodError: undefined method `back_url' for #<PoliciesController:0x00007ff38b0b1590>"
## Backtrace

    line 68 of [PROJECT_ROOT]/app/controllers/policies_controller.rb: watch

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/83733934)

[2022-01-31 00:29] mlandauer commented on #1320
We've settled for the time being on "We can't say anything concrete about how they voted on"

[2022-01-31 00:29] #1320 closed

[2022-01-31 01:41] #1321 closed

[2022-01-31 05:35] mlandauer opened #1322 "Add donate button with more targetted ask + redesign footer"
With the recent [attacks](https://www.smh.com.au/politics/federal/mps-call-for-partisan-political-transparency-site-to-lose-charity-status-20211108-p5971z.html) against TVFY and the OpenAustralia Foundation including more [constructive criticisms](https://www.oaf.org.au/2021/12/03/productive-discussions-and-pointed-attacks/) there's a renewed interest in donating to and supporting TVFY.

At the mo

[2022-01-31 06:14] mlandauer commented on #1251
Doing the simple difference in distances that this prototype is doing right now doesn't work well with our new category. Also, it makes it seem like people vote more differently than they actually do. This is because the distance measure takes into account the number of votes that people were absent on. Really when we're comparing two people we want to know about the differences on the votes they

[2022-01-31 23:52] mlandauer commented on #1314
@katska could you please cast your wise eye over this wording. The intention is to explain how a vote is "strong" vs a "normal" vote. So, it should also be a beginning of a kind of editorial policy for how divisions and policies are written and edited. This is part of #1280

[2022-02-01 01:34] katska commented on #1314
@mlandauer I'm looking at this specific wording. Can you show me an example of where the wording currently appears?

[2022-02-01 01:36] mlandauer commented on #1314
@katska I don't actually know where this would appear. I guess that's one thing that needs working out ;-)

[2022-02-01 02:10] katska opened #1323 "Adapt and share "strong" vote definition where it's most useful"
Where should the definition of a strong vote, described in #1314 go, to be useful to people visiting theyvoteforyou.org.au?

In TheyVoteForYou definitions sometimes appear in context with a link to an explanation[ for example ](https://theyvoteforyou.org.au/people/representatives/hindmarsh/mark_butler)
"94% attendance. Explain attendance"

<img width="918" alt="tvfy_screenshot_explain" src="https:

[2022-02-01 02:23] katska commented on #1314
Ok. So having thought a little bit about where this appears, I think this piece of work is
- adding this explanation into https://theyvoteforyou.org.au/help/faq
- check and add reference to voting categories throughout the FAQ

[2022-02-01 03:27] katska opened #1324 "number of contributors wildly wrong on FAQ"
https://theyvoteforyou.org.au/help/faq

In this section, at least some of the data are wildy out. I picked this up scanning the FAQ and noticed 'contributors' below clocking up at 14283!!

"What time period does it cover?

They Vote For You’s voting and membership data extends back to 2006. New divisions are added as soon as possible after becoming available. We give no warranty for the data so le

[2022-02-01 04:45] mlandauer commented on #1324
I'm guessing the "contributors" listed are all the registered users rather than the people that have contributed to creating policies or editing policies or divisions. Since we're downplaying the community contributions (see #1280) maybe we should rewrite this bit to remove the number of contributors completely?

[2022-02-02 01:46] Taz17 commented on #1289
Closing this issue as PR #1296 has been merged.

[2022-02-02 01:46] #1289 closed

[2022-02-02 02:58] katska commented on #1314
Here's another version. See notes below afterwards.

What is a ‘strong’ vote?

Simply put a 'strong' vote is one that is more significant to a specific policy than other votes.

_Include Example_

When TheyVoteForYou adds a division to a policy, we have to show how a supporter would vote. We do this by showing that a supporter as voting either: Yes (strong), Yes, No, or No (strong). We include a ‘

[2022-02-02 04:44] mlandauer commented on #1281
Fixed in 2a0d45009ed08d369546d53076fe6f007732067b

[2022-02-02 04:44] #1281 closed

[2022-02-02 04:51] mlandauer commented on #1314
During a conversation with @katska I realised we're adding a degree of indirection in naming something a "strong" vote and then having to define it when we're actually trying to be clear about the meaning of it. So, why not just name the votes according to what they are now. So, for example they could be:
* Formal votes that change our laws
* Formal votes that don't change our laws

We have to thi

[2022-02-02 05:00] katska opened #1325 "update FAQ entry on free votes?"
An APH.gov.au [overview on free votes ](https://www.aph.gov.au/About_Parliament/Parliamentary_Departments/Parliamentary_Library/pubs/rp/rp2021/Quick_Guides/FreeVotes )now goes up to 2021. Review and see if there is information to be added, or wording changed to reflect these.

Our FAQ on this currently reads as follows:
In contrast to a rebel vote, a free vote (also known as a conscience vote) occ

[2022-02-02 05:25] katska opened #1326 "Acknowledge the limitations of available parliamentary voting data in the Divisions Overview"
Acknowledge the limitations of available voting data in the Divisions Overview on the [Divisions](https://theyvoteforyou.org.au/divisions/all) page, change

_In the Australian Parliament avote is called a division. Through these votes, elected members shape legislation that affects us all. Learn more..._
to
_Parliament in Australia, formal votes are known as divisions. This is named after the trad

[2022-02-02 22:52] Taz17 commented on #1202
@mlandauer I pulled all the data i could (from 2018-06-26 to 2022-02-01). However I was not able to reproduce this bug.

[2022-02-02 23:35] mlandauer commented on #1202
Interesting! Now to figure out why it's happening in production then and not elsewhere

[2022-02-03 00:33] Taz17 commented on #1202
There also is 3 more rows in the votes table in production.

Votes table in production:

![Production-table](https://user-images.githubusercontent.com/86769131/152260975-f19c7547-bb92-4bfd-9a7a-25f6456910cc.png)

Local votes table

![dev-table](https://user-images.githubusercontent.com/86769131/152261032-5ee6eea4-a9ab-499c-ac18-17e00e5d4e96.png)

[2022-02-03 01:42] mlandauer commented on #1276
Related to #1225

[2022-02-03 01:44] mlandauer commented on #899
Related possibly to #1202 which is another problem that is happening in production related to the cache tables

[2022-02-03 01:57] mlandauer commented on #1163
In the code https://github.com/openaustralia/publicwhip/blob/master/app/controllers/home_controller.rb#L17 you can see we're just looking for 4 numbers at the start of the search and that just kicks in specialised postcode search code. Fixing this issue looks pretty straightforward. We could either:
1. not treat a search that included extra text as in "3672 Cathy McGowan" as a special case or
2. w

[2022-02-03 02:49] katska commented on #1323
if we are still having 'strong' votes or an equivalent explanation

[2022-02-03 02:56] katska commented on #1314
When I read "Many of the divisions in parliament are either procedural or symbolic." I question, does this mean there are procedural votes, that are also known as symbolic votes - OR - that there are procedural votes AND symbolic votes. If the latter (we have talked about votes that are considered by some (eg. independents) to be purely symbolic, but by others (eg. major party members) to be their

[2022-02-03 03:49] mlandauer commented on #1278
I think most of what's here is addressed by the changes we made to the wording of policy agreement summary at https://github.com/openaustralia/publicwhip/blob/2a0d45009ed08d369546d53076fe6f007732067b/app/helpers/policy_person_distances_helper.rb#L31 and the introduction of a new category when a person has only voted once on a policy and it wasn't a "substantive" vote where actual law was being cha

[2022-02-03 03:49] #1278 closed

[2022-02-03 04:32] mlandauer commented on #1125
We've rolled out the change to exclude policies where a person has voted only once in a division that was not "substantive" which is making a change to the law. This change is outlined in https://www.oaf.org.au/2022/01/31/a-new-category-has-been-added-to-your-representatives-voting-records/

I think this change goes most of the way to addressing the point made in this issue without overloading the

[2022-02-03 04:32] #1125 closed

[2022-02-03 04:36] mlandauer commented on #1316
#1179 is a further reminder about how important it is that the screenshot has attribution on it so people can follow a link to get more information

[2022-02-03 04:37] mlandauer commented on #1179
Closing this issue in favor of #1316 which will be adding easy screenshots when sharing via social media which will have correct attribution so people can follow the links and understand what it all means

[2022-02-03 04:37] #1179 closed

[2022-02-03 04:39] mlandauer commented on #255
Duplicate of #1251

[2022-02-03 04:39] #255 closed

[2022-02-03 05:09] mlandauer commented on #662
On reflection I don't think this is particularly helpful. It doesn't really tell me whether the policy is particularly current. It maybe says whether it's been voted on recently. I just don't see this is useful. Or am I missing something?

[2022-02-03 05:15] mlandauer commented on #1306
This issue isn't different enough from #1316 to justify a separate one. I'm going to close this as a duplicate of #1316.

[2022-02-03 05:15] #1306 closed

[2022-02-03 05:17] mlandauer commented on #1261
Related to #1251

[2022-02-03 05:19] mlandauer commented on #490
I still think adding this is really important because it will help people understand why the nittty gritty changes are being made. However, I don't think it's worthwhile trying to do this specifically for any interest around election time because the vast majority of the edits made will not have that history. So, it will only become useful over an extended period of time.

[2022-02-03 05:54] katska commented on #1314
I'd rather not use the word 'normal' anywhere. How about 'ordinary'.

[2022-02-03 23:59] mackaymackay commented on #1314
I understand we're trying to use plain English to ensure accessibility, but it seems that using words like 'strong', 'significant', 'normal' or 'ordinary' may be confusing matters.

From what I've seen while working on TVFY, there are only three kinds of divisions in parliament: procedural, symbolic and substantive.

Procedural votes are on parliamentary procedure and relate to standing orders and

[2022-02-04 00:55] katska commented on #1314
@mackaymackay Thank you for that breakdown, it's very clear and specific, so that's very helpful. All of this information can be in the FAQ.
I do think we will still need a short description, which then people can follow to the longer explanation, as well as a way to see the difference between the two types of votes. Matthew's outline above is also about reorganising the way the votes are seen, so

[2022-02-04 07:04] Fuviadark commented on #1278
@mlandauer I think the changes you’ve made on the “strongly against” issue are good, that seems better. TBH I’m not sure that adding info on how a pollie votes on Divisions is adding value, particularly when that is the only vote recorded and the statement the user gets to see (for eg) is “voted consistently against”. This could be seen as misleading in the case where a person votes once on a Divi

[2022-02-07 00:04] mlandauer commented on #876
I think the change in #1271 could help make this all much more obvious. It also provides a very logical place to explain how "strong" votes are weighted into the overall calculation and what they mean. I'll leave this issue open until that all becomes clearer.

[2022-02-07 00:12] mlandauer commented on #389
Related to #697

[2022-02-07 00:16] mlandauer commented on #1094
Related to #1271

[2022-02-07 00:22] mlandauer commented on #1082
This will probably be fixed by implementing #299

[2022-02-07 03:48] mlandauer commented on #1312
Finding myself yak shaving because to run the oaf/infrastructure over the theyvoteforyou server I'm being blocked by an out-of-date ubuntu release on the server. So, working on upgrading that now. Ugh

[2022-02-07 06:16] mlandauer opened #1327 "Upgrade Ubuntu on server"
We're currently on 16.04 which went out of "standard" support in April last year. So, it's not even getting security updates.

If we upgrade to 18.04 LTS we will remain in support until April of next year.

Because we're out of support, root SSL certs aren't even up to date so we're even running into problems running our Ansible configuration scripts which is what's really motivating this change n

[2022-02-07 06:17] mlandauer commented on #1312
We're currently blocked by #1327

[2022-02-07 06:24] mlandauer opened #1328 "Move elasticsearch over to using the same cluster as PlanningAlerts"
This will mean less to maintain and the Elasticsearch cluster that we're using for PlanningAlerts has redundancy and is donated to us by elastic.co.

We're currently using version 2.4.6 in production locally

The cluster is using 6.8.23

We're currently using [searchkick](https://github.com/ankane/searchkick) 1.5.1. We will probably need to upgrade the gem to support elasticsearch 6.8.23.

[2022-02-07 06:25] mlandauer commented on #1327
To upgrade it turns out that upgrading elasticsearch (keeping the old version around) would be a pain. It would just be easier to switch over to using the same clustered elasticsearch setup that we're using for PlanningAlerts. I've added a separate issue for this at #1328

[2022-02-07 06:38] mlandauer commented on #1328
The latest version of searchkick supports elasticsearch 6. See https://github.com/ankane/searchkick

[2022-02-07 06:43] mlandauer commented on #1328
So, a rough plan for a not horrible migration with downtime is:
* Use a local copy of the production database (a reasonably recent copy).
* Point the local development version at the new cluster and reindex everything.
* Test that it all works.
* Use a new setting for the new server. Set that up in production.
* Deploy a new version of the app with an updated searchkick using the new setting. This

[2022-02-08 00:09] Taz17 commented on #1107
What would the solution of this issue look like? Even after updating the members images there might be members without an image.

Example: [](https://www.aph.gov.au/Senators_and_Members/Parliamentarian?MPID=286349)[Senator Greg Mirabella](https://www.aph.gov.au/Senators_and_Members/Parliamentarian?MPID=286349) does not have an image.

See [senator images](https://www.aph.gov.au/Senators_and_Member

[2022-02-08 01:57] Taz17 commented on #1269
I thought about this, I came up with two ideas.

- Update `members cache` right after `application:load:members`, similarly update `divisions cache` right after `application:load:divisions` is executed. That reduces the time between `load` and `cache`.
This will require us update all the caches, excluding members and divisions since they have already been updated

- Update the cron job to run at a

[2022-02-08 23:42] tseyiokorodudu commented on #1316
Here is an initial go on the design of some of thecards.

### Design 1: For when a person shares a member's vote on a particular policy.

![image](https://user-images.githubusercontent.com/31440427/153092295-799d20eb-f905-4f89-b384-a279c19db840.png)

### Design 2: For when a person shares a policy page

![image](https://user-images.githubusercontent.com/31440427/153093144-0efcc922-ea43-4bf8-ac20-e

[2022-02-09 02:09] mlandauer opened #1330 "Left alignment of central headline and search on mobile on the landing page is messed up"
I would expect the left alignment of the central section to match the left alignment of the "They Vote For You" at the top and the text "Discover & Share" below it.

<img width="375" alt="signal-2022-02-09-130551_001" src="https://user-images.githubusercontent.com/2221/153108185-f9596a48-e58e-484c-9034-e195ebab8a1d.png">

I suspect this is some bug introduced by updating the bootstrap version at s

[2022-02-09 03:09] mlandauer commented on #1328
That's done now. The main code changes that made this possible:
* https://github.com/openaustralia/publicwhip/commit/39ad57d125730b932a192b3ee561437ea3791295
* https://github.com/openaustralia/publicwhip/commit/0d15c30aa293646c771c3ee21263097e4c981256
* https://github.com/openaustralia/infrastructure/commit/923a3191bd402dd8caf751ffda1450961123a827

[2022-02-09 03:09] #1328 closed

[2022-02-09 03:15] mlandauer commented on #1327
Yesterday I made complete balls-up of upgrading the TVFY server to Ubuntu 18.04 LTS (which is not the latest but is in support until April of next year). First I updated the ansible scripts to get a working TVFY server under 18.04. Then I made a snapshot of the root disk just in case. Then I tried an in-place upgrade to 18.04 (which is the same hacky thing I did in upgrading righttoknow.org.au and

[2022-02-09 03:16] #1327 closed

[2022-02-09 03:17] mlandauer commented on #1312
Now that ubuntu has been upgraded on the server and the ansible scripts have run without problem this is now fixed.

[2022-02-09 03:17] #1312 closed

[2022-02-09 03:41] #1303 closed

[2022-02-09 03:49] mlandauer opened #1331 "Investigate any potential missing divisions for 2021"
Looking at the whole calendar for 2021 on openaustralia.org.au:
* [Representatives](https://www.openaustralia.org.au/debates/?y=2021)
* [Senate](https://www.openaustralia.org.au/senate/?y=2021)

The days on the calendar that are darker but not underlined are the ones where the parliamentary calendar suggests there should have been debates but we haven't got any for one reason or another. I can see

[2022-02-09 03:50] mlandauer commented on #1331
I forgot to mention this comes of the back of looking at and fixing #1303

[2022-02-09 04:32] katska commented on #1316
@tseyiokorodudu thank you I love how clear these are!
1. The first layout looks pretty good! The second one there's some slippage on the lower text so it's sitting at the bottom of screen. Maybe though they should look a little different from each other in style? Also we're not showing how they vote in any way yet in the second card. Is there a proposal to share some specific information in this c

[2022-02-09 04:33] mlandauer commented on #1303
Two underlying problems needed fixing:
* One a person was referred to by their official name in the voting record. Fix for that https://github.com/openaustralia/openaustralia-parser/commit/8bcacec859579a6f8520f9657365542aca0d8bf3
* The XML for the members hadn't been regenerated after updating the data a while back by running the parse-members script on openaustralia.org.au.

[2022-02-09 21:48] tseyiokorodudu commented on #1316
Thanks @katska for the feedback.

1. The second layout is meant to replace the image below i.e what happens when a policy page as a whole is shared. Which is why the idea is to randomly pick various MP's image irrespective of their votes.
<img width="506" alt="Untitled" src="https://user-images.githubusercontent.com/31440427/153291685-cb6e00af-2ae3-49db-b04b-6449b65fb7e2.png">
In other words, this

[2022-02-09 23:48] mlandauer commented on #1326
I think the intent of this issue is an important one. I don't think the suggested new wording quite gets it right because it focuses on what happens during divisions rather than explaining that most of the votes are missing from the record because they're on the "voices".

[2022-02-09 23:50] mlandauer commented on #1323
I think the change suggested in #1271 provides a really clear place to explain what a "strong" vote is because it will have it's own little section.

[2022-02-09 23:53] Taz17 commented on #1316
1. I think we should stick to this layout versus the one in your initial comment for feedback.

2. I think its better for us to stick with the mainly yellow-orange background instead of the yellow border and white background. However i really like this design

![Screenshot from 2022-02-10 10-51-54](https://user-images.githubusercontent.com/86769131/153310336-92b5e833-9bff-4bbf-ad11-7d8d29fff9f6.pn

[2022-02-10 04:09] katska commented on #1326
Divisions are called to understand the majority decision (or will of the house)
The side effect is a lack of accountability

Specifically,
1) It doesn't matter how important the vote is, that's unrelated to whether a division is called. Division may be called for a trivial matter, and not called on a decision that affects all Australians.

2) if only divisions are recorded for all Representatives,

[2022-02-10 05:04] mlandauer commented on #1107
The idea would be to use some kind of generic gender neutral image if there isn't an existing photo. An example of the kind of thing would be https://thenounproject.com/icon/user-3692903
![noun-user-3692903](https://user-images.githubusercontent.com/2221/153340609-056ce441-989b-486a-8382-cf85ddc83087.svg)
It would obviously need to be scaled down and made a lighter colour so it doesn't completely

[2022-02-10 05:41] katska commented on #490
My dumb-ass suggestion here:  that we use github to track changes? Then we have an audit trail we could mine later.

[2022-02-10 05:54] katska commented on #662
If I knew there had been another vote on a related matter, I would be able to see if it had been added to the policy yet.

[2022-02-10 05:54] mlandauer commented on #1316
I'm sorry @tseyiokorodudu @Taz17 I ran out of time today to give this the attention it needs to give you decent feedback. Thank you for all your work on this to date. I'm going to try to carve out some time tomorrow to sit down with this so that I can give it the proper attention from me it deserves. Thanks again. 🍉

[2022-02-10 23:51] mackaymackay opened #1333 "House of Rep divisions missing post-midnight 9 Feb 2022"
We are missing the House of Reps divisions related to the Religious Discrimination bill.

They officially occurred on 9 Feb 2022 (i.e. they are reported in the Hansard for that day), but they actually occurred in the early hours of 10 Feb 2022. This date discrepancy may be why they weren't uploaded.

Note that no other divisions took place in the House of Reps on either the 9th or the 10th, so its

[2022-02-11 00:31] mackaymackay commented on #1331
Good catch!

I've taken a look and we are missing divisions from the following days from both the House and Senate:

- 24 Feb 2021
- 17 Jun 2021
- 29 Nov 2021

I've looked at recess.php and can't see any error that could explain these gaps.

But interestingly, there is an error in recess.php for 2021: the House sitting week 24-27 May is currently keyed in as a recess period. However, the divisions

[2022-02-11 03:22] mackaymackay opened #1334 "Free votes on the Mitochondrial Donation bill"
All the divisions on the Mitochondrial Donation Law Reform (Maeve’s Law) Bill 2021 were free votes (currently they're showing up as rebellions):
- https://theyvoteforyou.org.au/divisions/senate/2022-02-09/5
- https://theyvoteforyou.org.au/divisions/senate/2022-02-09/6
- https://theyvoteforyou.org.au/divisions/senate/2022-02-09/7
- https://theyvoteforyou.org.au/divisions/senate/2022-02-10/6
- https

[2022-02-11 22:25] mlandauer opened #1335 "Provide helpful guidance for people sharing content on social media or putting up posters using TVFY around electoral advertising legislation"
In that case we're not the ones doing the electoral advertising but other people are and we want to help them to ensure that they understand their obligations under the law. This information is particularly important in places on the site where we allow social sharing.

[2022-02-13 23:15] mlandauer opened #1336 "Upgrade to Ubuntu 20.04 LTS"
Since we recently did the upgrade to 18.04 LTS it makes sense to do this upgrade now as things are still fresh in my mind.

[2022-02-13 23:18] mlandauer opened #1337 "Upgrade Ruby version"
Upgrade Ruby to the latest reasonable version that we can run (hopefully 3.1)

[2022-02-14 00:08] Taz17 commented on #1316
Here is a to do list:

- [ ] Use white text instead of black text
- [ ] Place image on the left hand side rather than the right hand side
- [ ] Use larger images. see [1]
- [ ] Replace disclaimer with the link to the page. (exact URL)
- [ ] Use site name in the top-left corner instead of domain.
- [ ] Replace "For" with "On" when sharing a policy page.
- [ ] Add action word "See" before "How they

[2022-02-14 02:15] mlandauer commented on #1337
Upgrade to ruby 3.0.0 because that seems to be the latest version support by rvm currently which is what we're using on the server to select ruby versions

[2022-02-14 02:15] #1337 closed

[2022-02-15 01:01] tseyiokorodudu commented on #1316
Thanks for the feedback @mlandauer.

For design 1, I opted for black bold text as opposed to white because I realised that white against the coloured background was a little hard to read and also had a low accessibility contrast. For the image alignment, we felt it looked better on the right than the left.

With regards to the image sizes and needing a bigger source @Taz17 found out that the lates

[2022-02-15 02:09] Taz17 opened #1338 "Programmatically screenshotting and saving social media sharing cards."
To capture and screenshot the social media cards programmatically we will be using a headless browser to do so.

Ideally this would be in a rake task so that it can be run frequently to make sure every new social card is captured.

[2022-02-15 02:13] Taz17 commented on #1338
With this implementation comes the issue of where to save the screenshots of the cards. Saving the cards to the VM's harddisk is an option but I don't believe it would be sustainable as this could take up too much memory and slow down the machine. @mlandauer any ideas as to how to store the screenshots?

[2022-02-15 02:18] tseyiokorodudu opened #1339 "Social Card 1: When sharing a member's vote for a particular policy."
### This issue is linked to issue #1316

This card is for when someone shares ["a member's vote on a particular policy" page](https://theyvoteforyou.org.au/people/senate/tasmania/eric_abetz/policies/162).

This is the original design shared on issue #1316
![](https://user-images.githubusercontent.com/31440427/153092295-799d20eb-f905-4f89-b384-a279c19db840.png)

Any further correspondence about thi

[2022-02-15 02:27] mlandauer commented on #1338
There's two separate issues here:
1. How much disk space are all the rendered images going to take up?
2. How much memory is needed to generate the images and how long will it take?

The first part isn't much of an issue I think. Disk space is pretty cheap. We can add an extra network mounted disk on the VM without too much trouble. We do something similar on Right To Know which has a lot of space

[2022-02-15 03:02] Taz17 commented on #1338
I can give you for an maximum amount of storage required for the screenshots of members and their vote for a particular policy. Their social card can be seen in issue #1339 (600x350 pixels)

Storage for all members and their vote on a policy = no. of all people * no. of all policies * no. bytes for 1 image.
= 227 * 226 * 65931 bytes
= 3382392162 bytes
= 3.38 gigabytes.

As for the other cards i ca

[2022-02-15 03:14] Taz17 commented on #1338
Well given that storing to disk is a valid option, is the naming pattern `MemberID_PolicyID` sufficient?

eg. `production-screenshots/10001_1` for Tony Abbott on poilcy 1.

I assume it will be as it'll be unique and easy to query/search for.

[2022-02-15 05:21] tseyiokorodudu commented on #1339
In issue #1316 I explained why we chose the text color for the initial card design. I've attached an image using the black text on the coloured background and one using the white text so we can see what I mean by my comment.

![100001_1-2](https://user-images.githubusercontent.com/31440427/153995820-e0ef6296-c5ef-46da-a779-eb9572ca1616.png)

![100001_1](https://user-images.githubusercontent.com/31

[2022-02-15 23:38] mlandauer commented on #1339
For anyone coming to this issue blind it's been split out from #1316. This issue just covers the design and implementation of one of the cards. #1316 covers several cards.

[2022-02-15 23:49] mlandauer commented on #1316
Work on Social card 1 has been split out into its own separate issue #1339 so we can more easily follow what's happening

[2022-02-15 23:51] mlandauer commented on #1339
@tseyiokorodudu do you want me to give feedback on the versions in https://github.com/openaustralia/publicwhip/issues/1339#issuecomment-1039871092 or were they purely meant to demonstrate the contrast issue? I'm asking because it's not clear to me and there have been some other changes made.

[2022-02-15 23:54] tseyiokorodudu commented on #1339
@mlandauer Yeah I would like some feedback. Sorry for not making that clear.

[2022-02-15 23:54] mlandauer commented on #1338
Why can't you provide an estimate of the other cards? What information are you missing? Don't you have an estimate of the number of people and the number of policies. Isn't that enough?

Also, you @Taz17 you haven't answered my question about the memory usage of creating a screenshot and a rough estimate of the amount of time it might take.

[2022-02-16 00:13] mlandauer commented on #1339
Here's some more feedback in no particular order again:

* Looks clearer with "They Vote For You" at the top
* I'm guessing from the text that this is actual rendered content from the implementation? If so, great!
* The font looks a bit weird and jagged to me. Is it the same font as used on the site?
* I agree that the contrast is way too low with the white writing. It's annoying because we have t

[2022-02-16 00:30] mlandauer commented on #662
@katska you can also see this by looking at the date the policy was last edited I think

[2022-02-16 00:32] mlandauer commented on #490
We're already storing versions in the database. We need it in the database so we can show it when people want to see a policy or division edit history. I don't think there's any particular advantage to putting it in github as well. It certainly wouldn't give us any functionality for free that we need for the application. :-(

[2022-02-16 01:53] mlandauer commented on #1336
Phew. Now the server is upgraded to 20.04 LTS. The biggest problem was that python 2 is not really easily installed anymore (which frankly, is very sensible). So, we had to jump though a few hoops to get ansible to play nicely with python 3 on the server (even when doing the ansible run with python 2 running locally). Also had to switch over to using the unified cloud watch agent for sending logs

[2022-02-16 01:53] #1336 closed

[2022-02-16 01:54] mlandauer commented on #1334
Actually I won't assign this to myself until I actually start working on it!

[2022-02-16 02:00] Taz17 commented on #1338
My bad @mlandauer, I got carried away with disk memory.

With why I cant provide an estimate for other cards, I don't know how many cards we will have for other pages. For example when sharing a policy, like this one https://theyvoteforyou.org.au/policies/86, im not certain about how many cards a page like this would need. Because you can share the entire policy page or in another case when the us

[2022-02-16 02:18] tseyiokorodudu commented on #1339
- Yeah, it is the actual rendered content.
- It is the same font as that of the site.

I actually considered it but never implemented it because I wanted the card design to look a little different from the site. But I could do it and see how it looks.

- I don't exactly get the movie watermark reference - do you mean place the link at the right hand corner and make the size a bit smaller?

[2022-02-16 02:51] Taz17 commented on #1339
Here is an example of a watermark on a movie.

Image source: https://www.plagiarismtoday.com/2016/05/10/using-dynamic-video-watermarks-prevent-plagiarism-piracy/
![image](https://user-images.githubusercontent.com/86769131/154186913-acd76311-f685-4911-b563-64ecb9245a93.png)

Its the opaque white text in the bottom left corner of this image.

[2022-02-16 03:16] Taz17 opened #1340 "Install chrome webdriver to server."
The chrome webdriver is needed so that we can capture screenshots of the social sharing cards mentioned in issue #1316

[2022-02-16 04:30] mlandauer commented on #1333
Actually looks like the XML file on data.openaustralia.org.au that comes out of the parser was completely messed up for the house of reps on 9 feb 2022. I'm guessing that because the scraper tried to get the XML from aph at 9am roughly, only a few hours after things finished, it's likely that there was a problem with the hansard record at that point.

I've rescraped that data. Seems to be picking

[2022-02-16 04:37] mlandauer commented on #1333
They seem to be loaded now. Phew. https://theyvoteforyou.org.au/divisions/representatives/2022-02-09/9

I haven't updated all the caches, so Dave Sharma, for instance is showing still as not having ever rebelled. These will get updated automatically tomorrow.

[2022-02-16 04:37] #1333 closed

[2022-02-16 04:59] tseyiokorodudu commented on #1339
Worked on the design a bit based on the feedback above.

- I changed the font colour from pure black to #262626 on the "MP name & Policy" text and used the site's default text colour rgb(68, 68, 68) on the site name and link. Does it look better and more friendly to the eye?

- Regarding the border around the site name looking quite tight, I tried out two things;
1. Increase the surrounding space

[2022-02-16 05:00] mlandauer commented on #1334
Noticed that this related division in the house of reps has a large number of rebellions showing as well: https://theyvoteforyou.org.au/divisions/representatives/2021-12-01/3. I found it by googling and coming across this article: https://www.theguardian.com/australia-news/2021/dec/01/controversial-mitochondrial-donation-legalised-after-conscience-vote

I missed this initially because when you go

[2022-02-16 05:18] mlandauer commented on #1334
Fixed by bcf9bc18f996f2421a6de4311d98a27bc06c56d5

[2022-02-16 05:18] #1334 closed

[2022-02-16 05:19] mlandauer commented on #1334
Deploying this to production now. I probably won't update the caches now. I'll just wait until it happens tomorrow morning

[2022-02-16 06:36] katska commented on #1339
Given that some of @mlandauer's comments related to matching the feel of the site, I scaled up the page in the browser to see what that looked like with big text. That's one lense.
It looks like this, which is pretty interesting as a comparison

<img width="829" alt="Screen Shot 2022-02-16 at 5 12 47 pm" src="https://user-images.githubusercontent.com/1001129/154207328-6c84740a-209b-4d40-87eb-35b75

[2022-02-16 06:51] katska commented on #1339
The watermark might be a separate issue. Would it work to have a footer at the bottom, a different colour that carries the link to the information?
A watermark is a different function, is not intended to be very readable, so while its an attractive idea, I don't know if its the right concept for this link.
Visual watermarks are also embedded to prevent theft or distortion. Our watermark would not

[2022-02-16 23:47] mlandauer commented on #1339
On the font issue it looks to me now clearly (agreeing with what Kat said above) that the font you're using is not the same as the font in the application.

In fact it looks like the correct font is not being loaded and it's falling back to the default sans-serif which I guess some kind of helvetica

## This is what the application looks like normally
![With correct font](https://user-images.githu

[2022-02-17 00:04] mlandauer commented on #1339
* I also agree with @katska about the font sizes not holding together. There's four different font sizes in the one image and that makes it feel a bit messy and not coherent. It's funny me saying that because planningalerts.org.au is a complete dog's breakfast for having multiple fonts and sizes all over the place. TheyVoteForYou is generally much more coherent largely due @equivalentideas's stron

[2022-02-17 00:08] mlandauer commented on #1340
Take a look at https://github.com/openaustralia/infrastructure/. I'd love to see a PR against that repo for any changes required to the infrastructure. I think you should be able to test most of it out locally. The only thing that would be hard to test would be an increase in disk space, so that would be something I probably would need to do.

[2022-02-17 00:12] mlandauer commented on #1338
@Taz17 like I mentioned earlier, if you can come up with an estimate based on a guess of some of those numbers. So for instance you could estimate that there 10 different versions of the card (one for "voted consistently for", one for "we can't say anything...", etc.) and then you could calculate a reasonable first estimate which will be at the high end but in this case it's better to overestimate

[2022-02-17 01:37] tseyiokorodudu commented on #1339
Thanks for the feedback. Based on that we've done the following;

- Looked into the font issue and fixed the problem.

- Added a javascript code, that automatically resizes the text to fit its container for policies with longer name.

- Followed @katska suggestion and designed the card to look like the site, so the name and policy are now on the same line.

- Increased the font size of the site na

[2022-02-17 01:48] mlandauer commented on #1339
Thanks for the update @tseyiokorodudu. It's starting to feel more coherent to me. It's interesting seeing the card with the lighter background. I agree it feels a little less clunky and more breezy with it. However, the blocks of the slightly darker colour around some of the text makes less sense. I do think now that darker background colour needs to be a large area for it to make sense. So, that

[2022-02-17 03:04] Taz17 commented on #1340
Since you mentioned a gem that installs chrome driver once the gem is installed. I did some digging, and found that in the [multiple_cianywhere](https://github.com/planningalerts-scrapers/multiple_cianywhere) it uses `capybara` and `selenium-webdriver`. I tried to run it on a laptop I have without the webdriver installed by me and it did not run (driver not found exception)

Turns out morph chrome

[2022-02-17 04:43] mlandauer commented on #1331
That should be fixed now. You can see the updated divisions at:
* https://theyvoteforyou.org.au/divisions/all/2021-02-24
* https://theyvoteforyou.org.au/divisions/all/2021-06-17
* https://theyvoteforyou.org.au/divisions/all/2021-11-29

[2022-02-17 04:44] #1331 closed

[2022-02-17 04:44] mlandauer commented on #1331
@mackaymackay see above

[2022-02-17 06:49] tseyiokorodudu commented on #1339
### Link Update

#### Some Thoughts
Firstly, I think we need the background. As the alternative would be just the plain text like in the image below which from my perspective looks a bit weird and out of place from the other elements on the card.

![image](https://user-images.githubusercontent.com/31440427/154416050-58eb1608-c9c6-47a7-a275-4e9635375e35.png)

Secondly, I put the link at the bottom

[2022-02-17 21:40] mackaymackay opened #1342 "Multiple TVFY policy subscriber emails for single update"
I made a small update to a policy this morning - changing a division policy connection from No to No(strong) - and I've so far received five emails telling me the policy has been updated (I'm a subscriber).

All of the emails are identical. The change I made took place at 8.14 AEDT and the emails have come through at 8.21, 8.21, 8.22, 8.24 and 8.29 AEDT. It's now 8.39 AEDT and no more have arrived

[2022-02-17 21:41] mackaymackay commented on #1342
I spoke too soon - a sixth just came in at 8.40 AEDT

[2022-02-17 21:57] mackaymackay opened #1343 "Make 'reverse ordering' an option on policy page"
We've received an email making the following design suggestion for the policy pages:

<img src="https://front.com/assets/img/favicons/favicon-32x32.png" height="16" width="16" alt="Front logo" /> [Front conversations](https://app.frontapp.com/open/top_4el39)

[2022-02-17 22:04] mackaymackay commented on #1342
Seventh at 9.02 AEDT. It seems that the spacing between them is growing.

[2022-02-17 22:26] mackaymackay commented on #389
Related to this, we had an email suggesting that it would be helpful to include a way to categorise members by their states

[2022-02-18 01:56] mackaymackay commented on #1342
As a last update, emails no. 8, 9 and 10 came in at 9.43, 10.52 and 12.42 AEDT respectively.

[2022-02-19 00:38] mlandauer commented on #1343
I agree that this should be an option on the page and not the default (as suggested in the email). The original idea of ordering with "agreement" first was just based on the idea that the sight shouldn't be purely about focusing on people that are against something, which is obviously a bit negative.

[2022-02-19 00:40] mlandauer opened #1344 "[They Vote For You/production] ArgumentError: SMTP To address may not be blank: []"
## Backtrace

    line 8 of [PROJECT_ROOT]/app/jobs/alert_watches_job.rb: block in perform
    line 7 of [PROJECT_ROOT]/app/jobs/alert_watches_job.rb: perform

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/84120508)

[2022-02-19 00:40] mlandauer commented on #1344
I'm guessing that this issue is the cause of #1342

[2022-02-19 00:45] mlandauer commented on #1344
The error in production is happening on running `AlertWatchesJob#perform` with policy `gid://publicwhip/Policy/114` and version `gid://publicwhip/PaperTrail::Version/3963`

[2022-02-19 06:28] mlandauer commented on #1344
This happened because of a couple of problems on top of each other:
* We used to have a validation on user to ensure that name was unique but there were duplicate entries in the database
* Then, I did a migration in a47c139371b51e7df27f69944adf20be1fb72d7d which didn't actually check properly that the update worked. Ugh. See https://github.com/openaustralia/publicwhip/commit/a47c139371b51e7df27f69

[2022-02-19 06:35] mlandauer commented on #1344
This is now fixed. Woohoo!

[2022-02-19 06:35] #1344 closed

[2022-02-19 06:35] mlandauer commented on #1344
I didn't mention. I also checked that the delayed job was retried and the queue is empty

[2022-02-19 06:36] mlandauer commented on #1342
This was fixed by fixing #1344

[2022-02-19 06:36] #1342 closed

[2022-02-20 23:46] mlandauer commented on #1339
I'm also now realising the "band across the whole width" idea also gives more space to the text and makes the design feel less crowded. It also makes the text alignment more cleanly follow the same line on the left which seems right to me. I don't understand what you mean by "current link style" in your comment above. Do you mean the general visual styling of the words "They Vote For You" or somet

[2022-02-20 23:47] mlandauer commented on #1339
I think we're getting extremely close to this being "good enough" to open a PR so we can work through getting a first version for this particular page rolled out into production 🎉

[2022-02-20 23:49] mlandauer commented on #1326
@katska I don't really understand what you're saying here because I though we were discussing changing a specific bit of wording around the divisions which really only has room for maybe one sentence. So, inherently there's a whole bunch of nuance that we can't include in those one bit here. That would need to go elsewhere.

[2022-02-21 00:14] mlandauer opened #1345 "Update quotes (from twitter) on landing page"
They're very old and we can probably find some great ones with all the recent interest

[2022-02-21 00:15] mlandauer opened #1346 "Make testimonial quotes from users much more prominent on landing page"
Put testimonial quotes from people immediately below the coloured area on the landing page. Above the summary of features and supporting organisations. Now that we are well established those two other things are much less important

[2022-02-21 00:17] mlandauer commented on #1345
A few things we could potentially do get some more up to date quotes. We could do one of these or all of these potentially.

* Trawl through twitter for quotes that we can use
* Do a call-out on Twitter asking for people to say nice things
* Do a mail-out to all registered users of the site asking for quotes

[2022-02-21 00:17] mlandauer commented on #1345
We should do #1346 immediately after this one

[2022-02-21 00:53] tseyiokorodudu commented on #1339
By "current link style" I meant the visual styling of the url at the bottom which you've given feedback on.  Thanks.

So here is the current design of the card.

![100001_1-3](https://user-images.githubusercontent.com/31440427/154872371-54c63527-27ed-4b7b-a3f2-522b223efe0c.png)

[2022-02-21 01:11] Taz17 commented on #1339
We also chose to remove the `https://` from the URL since a user would be able to visit the site without it.

[2022-02-21 01:36] mlandauer commented on #1339
@tseyiokorodudu this is looking good to me! 👍🏼

What do you think?

[2022-02-21 01:52] tseyiokorodudu commented on #1339
It looks good to me too.

[2022-02-21 03:40] mlandauer commented on #1339
Great. @tseyiokorodudu could you put together a pull request then for this please

[2022-02-21 04:16] #1343 closed

[2022-02-21 04:25] mlandauer commented on #1343
This is now done. An issue that this brings into relief can be seen by looking at a screenshot

![image](https://user-images.githubusercontent.com/2221/154888993-c9e36f79-213e-4ee2-aade-ad44632edc88.png)

The title of the page says "For a citizenship test" but the wording of the first section is "Voted consistently against..."

The page is not really about being **for** a citizenship test. It's ab

[2022-02-21 04:45] #1324 closed

[2022-02-21 23:37] katska commented on #1343
@mlandauer If you are asking whether its a good idea, then yes, I agree. If you have reservations, would you say more about this so I can better understand?
The idea that pops into my head here is showing them both at once. Two columns side by side. Possibly for the laptop screen but not smaller devices/portrait orientation.

[2022-02-21 23:41] mlandauer commented on #1343
My reservation is adding extra words "Those that are "for" this policy believe that..." seems very wordy to me and I don't like the word "believe" but I don't know what else to say.

[2022-02-21 23:41] katska commented on #662
I still think the dates a policy has had votes related to it is highly relevant and sensitive as a reflection of someone's position on a policy. Whether it's a priority given other work to do is another question.

[2022-02-21 23:42] mlandauer opened #1348 "Policy detail page currently has title "for" a policy but that isn't strictly true"
Look at the following screenshot

![image](https://user-images.githubusercontent.com/2221/154888993-c9e36f79-213e-4ee2-aade-ad44632edc88.png)

The title of the page says "For a citizenship test" but the wording of the first section is "Voted consistently against..."

The page is not really about being **for** a citizenship test. It's about the "citizenship test" and those that are **for** it and t

[2022-02-21 23:43] mlandauer commented on #1343
I've split out the issue in #1348

[2022-02-22 00:02] tseyiokorodudu opened #1349 "Social Card 2: Sharing an MP's page"
## **This issue has been split out from #1316 which covers several card. This issue just covers the design and implementation of one of the cards.**

### Social Card 2 is for when someone shares a member's page (https://theyvoteforyou.org.au/people/senate/tasmania/eric_abetz)

Currently when a person shares an MP's page this is what it looks like...

**Image 1**
<img width="554" alt="image" src="h

[2022-02-22 00:05] tseyiokorodudu commented on #1339
Since we have gotten card 1 to a good enough place for now, I think we can begin work on the next card. See issue #1349 for more.

[2022-02-22 00:07] tseyiokorodudu commented on #1316
Follow the work on social card 2 at issue #1349

[2022-02-22 01:11] katska commented on #1348
@mlandauer umm. crazy idea. how about we remove the word FOR. Then only the issue subject matter remains. Or use the word On instead.
Having discussed this with @mlandauer just now there are a few of different issues here. I'm going to look to see what's been separated out and then come back in with further suggestions

[2022-02-22 01:30] mlandauer commented on #1349
I don't think it's inherently important for the two cards to have a similar design. I think like everything else if there's good reasons for things to be different then they should be different! They shouldn't be different just for the sake of it.

It's definitely not about what I prefer! It's about working towards a design solution together :-) I think option 2 is clearer from the standpoint of m

[2022-02-22 01:32] mlandauer commented on #1349
I don't think rebellions and attendance are important enough to put on the card.

[2022-02-22 02:19] katska commented on #1310
@uozuAho hey there, I'm just checking through our open issues and noticed your interest. Are you still around?

[2022-02-22 02:29] katska commented on #1343
We're in a balancing act of brevity and a meaningful description of the act.
How about simply describing the relationship, a vote 'for' this thing is consistent with the view of 'this policy'
Those "for" have voted in support of "the thing"
... is where I've got to so far.

[2022-02-22 03:56] katska commented on #1349
So the aim is to have a snappy call to action?
Find out how "NAME" stands on issues that matter to you!

[2022-02-22 04:06] katska commented on #1349
That's a bit shorter. @tseyiokorodudu and I just discussed the circumstances where people share this card. I seem to remember in the past when there's a change of machinery of government or get a different position (for example enter Cabinet or are rumored to be in line for a top job) then there's a higher level of scrutiny on their voting record. This is where a general card is useful as well as

[2022-02-22 07:26] tseyiokorodudu commented on #1349
Yes that is the idea. We figured it is better to do general cards like this first before the "specific information card (i.e. Eric Abetz voted strongly for ... etc)".

From a logical perspective, I think this makes sense. So it is definitely something I will consider as I work.

This makes me assume that the MP's position isn't important enough like rebellions and attendance. Is this assumption ri

[2022-02-23 00:14] mlandauer opened #1351 "Update person image pipeline to also get larger versions of images used for social media card"
We need member images of width 150px and height 200px.

See https://github.com/openaustralia/publicwhip/pull/1347#discussion_r811476076_

[2022-02-23 00:16] mlandauer commented on #1351
This is the code for the openaustralia.org.au project that gets the images right now: https://github.com/openaustralia/openaustralia-parser/blob/master/member-images.rb

It would make sense to me that we build off of this to get the larger size images. Is it just a question of resizing the images to a different size and storing them in a new directory. That would be nice if that's all it involved.

[2022-02-23 01:27] Taz17 opened #1352 "Fix logging and extra javascript tag in policy with member card"
Its unnecessary to have `= javascript_include_tag  "card"` line [19](https://github.com/openaustralia/publicwhip/blob/master/app/views/card/policy_with_member_card.html.haml#L19).

As well as the logging to the console that was used whilst debugging in line [22](https://github.com/openaustralia/publicwhip/blob/master/app/views/card/policy_with_member_card.html.haml#L22)

[2022-02-23 01:37] mlandauer commented on #1352
@Taz17 good catch

[2022-02-23 02:19] #1352 closed

[2022-02-23 02:57] Taz17 opened #1354 "Travis builds fail because of a segmentation fault"
In previous pull requests (now closed and un-merged) Travis, the CI tool, failed to complete the build as it ran into a segmentation fault while installing the `sassc` gem.

Build #2304 https://app.travis-ci.com/github/openaustralia/publicwhip/builds/246832799#L821.

[2022-02-23 03:07] Taz17 commented on #1354
A solution that was discussed and worked for other developers is adding this snippet to `config/initializers/assets.rb`

[code]

mentioned here https://github.com/sass/sassc-ruby/issues/197#issuecomment-735359755

[2022-02-23 03:13] Taz17 commented on #1354
In a previous PR (https://github.com/openaustralia/publicwhip/pull/1350) builds without this change would fail [build 2304.1](https://app.travis-ci.com/github/openaustralia/publicwhip/jobs/560643935#L821), after the change was pushed to that PR the build succeeded [build 2311](https://app.travis-ci.com/github/openaustralia/publicwhip/builds/246894719)

[2022-02-23 03:42] #1354 closed

[2022-02-23 03:42] tseyiokorodudu commented on #1349
Sticking with the same design as social card 1 for now.

I changed the text to what @katska suggested. @mlandauer does it still feel long-winded?

Also increased the size of the url link a bit.

![Twitter header - 22-3](https://user-images.githubusercontent.com/31440427/155252727-4c3ceb0d-37c6-40b3-b869-19be50d96427.png)

I know the name of the politician is not highlighted in this but I feel ther

[2022-02-23 03:50] mlandauer commented on #1349
Yup, I agree. It's succinct and clear and doesn't need any more embellishment. One small suggestion: How about "votes" instead of "stands" so it would be "Find out how Eric Abetz votes on issues that matter to you!". Then the wording would line up with the wording on the landing page.

[2022-02-23 04:35] katska commented on #1349
of course yes, it's all about the votes!!

[2022-02-23 22:39] mlandauer commented on #1276
After a little investigating as part of working on #1351 I think I know why this is happening. The source images that we originally scraped from aph.gov.au for openaustralia.org.au are not exactly the same dimensions. If I remember correctly when we started they were and so we were able to make some simplifying assumptions. However now they're not all the same.

We were rescaling the images in suc

[2022-02-24 00:44] katska commented on #1276
Interesting that they're not all the same size now. I wonder how they dealing with it that this is no longer standard, and how they are shown in the official context they're originally used, but a pixel or two shouldn't be a problem no! Looking forward to see how these turn out!

[2022-02-24 00:56] mlandauer opened #1357 "Speed up daily load script - it currently takes 3 hours in production"
Almost no effort has been put in to make run quickly. It is doing things in the some cases the most horribly inefficient, memory intensive, network intensive way possible.

It's currently taking almost 3 hours to run in production every single day. This is crazy world!

This is related to #1234 which is about the memory spike while that runs. I suspect both issues can be addressed at the same time

[2022-02-24 00:58] mlandauer commented on #1357
I'm putting this to the top of the list because it's currently getting in the way of confidently deploying stuff to production in the morning each day. So, this is slowing down overall development.

We could probably deploy without it causing the daily job to fail but sometimes this isn't worth taking the risk.

[2022-02-24 01:05] mlandauer commented on #1357
These are the different underlying rake tasks that eventually get run during the daily load:
* application:load:members
* application:load:divisions (with yesterday's date)
* application:cache:whip
* application:cache:member
* application:cache:division
* application:cache:policy_distances
* application:cache:member_distances

I think a good starting point is just to time them on my local developm

[2022-02-24 01:22] mlandauer commented on #1357
* application:load:members - 31 seconds
* application:load:divisions[2022-02-23] - 3 seconds
* application:cache:whip - 287 seconds
* application:cache:member
* application:cache:division
* application:cache:policy_distances
* application:cache:member_distances

[2022-02-24 01:38] #1276 closed

[2022-02-24 01:38] katska opened #1358 "review supporting organisations - add / remove / check in?"
Noticing #1346 prompted me to check in on the supporting organisations page.

Maybe testimonials are important, institutional support from other trusted organisations I think is also an important part of the picture, if not eye catching in the moment.

@mlandauer how would you feel about me approaching the Accountability Roundtable to become a supporting org? It seems like a good fit, and it's a s

[2022-02-24 02:01] #1351 closed

[2022-02-24 02:03] mlandauer commented on #1225
As part of fixing #1351 and #1276 the images should now have all been updated

[2022-02-24 02:03] #1225 closed

[2022-02-24 02:06] mlandauer commented on #1358
Sounds like a good thing to me if it's a quick win!

[2022-02-24 02:27] katska commented on #1358
[ ] find previous supporting organisations call out
[ ] send !
[ ] report back here

[2022-02-24 03:00] katska commented on #1358
(contacted to see if they'd welcome an offer become a supporting org)

[2022-02-24 04:29] katska commented on #1326
this was a discussion of the issues underneath that. To make a short sentence that reflects a more complex truth, we also need to understand how we talk about he more nuanced reality. That was we're clear on what we're trying to reflect in the short snappy version.

For the specific wording @mlandauer how about we make sure to include those words in the high level overview of divisions.
At the mom

[2022-02-24 05:14] tseyiokorodudu commented on #1349
Here is the implemented version of the card.

![image](https://user-images.githubusercontent.com/31440427/155461102-7a208204-572e-403e-9ba9-35de83236f59.png)

Thoughts please?

[2022-02-24 05:14] katska commented on #1345
have a go with zotera to look through for these

[2022-02-24 05:36] mlandauer commented on #1357
Just based on that I'm going to put some initial effort into speed up the `application:cache:member_distances` rake task. Just to keep the timings more easy to make I'll time updating the member distances for the first member. It works out at 21.9 seconds

[2022-02-24 05:50] katska commented on #1349
Oooh! @tseyiokorodudu looks good to me!  Is there something you think needs to tweak at this point?

[2022-02-24 23:48] mackaymackay commented on #1348
@mlandauer to be honest, I'm not seeing the wording issue here. It may be that I read the word "for" differently? As in, I see it as a fairly broad word meaning something like 'in favour of' or 'wanting'.

Did you want to reword the policy to something like "for requiring prospective citizens to take a citizenship test"? Would that solve the issue?

[2022-02-24 23:54] mackaymackay commented on #1326
@Kat could the words "in Parliament" fit in the second sentence, or would that push it over?

[2022-02-24 23:56] mackaymackay commented on #1326
Then again, those other votes don't go unrecorded, they are just insufficiently recorded... Though I think trying to clarify *that* would get far too wordy, so probably best to stick with "unrecorded" even if it makes the pedant in me cringe.

[2022-02-26 09:47] mlandauer commented on #1357
The calculation of the member distances would be simplified by fixing #85 first which would make it easier to optimise.

[2022-02-28 04:53] #85 closed

[2022-02-28 08:07] mlandauer commented on #1357
After implementing #85, the time taken for the `application:cache:member_distances` when it's been modified to only operate on the first member (`Member.first`, Tony Abbott) the time drops to 14.74 seconds which is a 33% drop in time... Not bad.

[2022-02-28 19:54] Taz17 opened #1360 "Scrollbar missing in all main pages."
The scroll bar on all the pages on TVFY is missing.

Eg. Policies page, which has 200+ policies on this one page.
![image](https://user-images.githubusercontent.com/86769131/156049069-d6c1ba3e-656e-421f-a0da-736aa2753fec.png)

This is because
[code]
found here https://github.com/openaustralia/publicwhip/blob/master/app/assets/stylesheets/card/_card.scss#L47 is applied to the page body and not an e

[2022-03-03 00:33] tseyiokorodudu commented on #1322
Hi, so I took a stab at this. This is the result.

![image](https://user-images.githubusercontent.com/31440427/156473086-2d9d521a-6b9b-42ae-914c-b76e661860d4.png)

@mlandauer is this what you had in mind?

[2022-03-04 09:30] uozuAho commented on #1310
Yep! I'm still interested in helping out :) I put my proof of concept into action here: https://what-does-the-government-do.netlify.app/

[2022-03-04 23:45] cofiem commented on #1335
Here's an initial go at a [help / faq](https://theyvoteforyou.org.au/help/faq) entry around electoral communications and authorisation requirements:

Title:
What should I know when sharing information from  _They Vote For You_ ?

Content:
The Australian Electoral Commission (AEC) is responsible for running Federal elections in Australia.
One part of their job is to make sure that people who vote k

[2022-03-05 07:19] cofiem commented on #1197
From a bit of digging, it looks like the way to do this would be to use the 'mesh blocks' from the [ABS Australian Statistical Geography Standard](https://www.abs.gov.au/statistics/standards/australian-statistical-geography-standard-asgs-edition-3/jul2021-jun2026/access-and-downloads/allocation-files).

There are a whole bunch of downloads on that page. I think the way to go would be to get the *C

[2022-03-05 08:46] cofiem commented on #645
Here's an initial go at the Speaker's principals when voting due to a tie:

(Note: remove the crossed out `always`)

[2022-03-06 06:53] cofiem commented on #1197
I've implemented a first go at using the ABS Excel file in the [openaustralia-parser repo](https://github.com/openaustralia/openaustralia-parser/pull/137).

[2022-03-07 00:29] #1360 closed

[2022-03-07 04:05] mlandauer commented on #1274
I've disabled the custom domain which was set to "email2.theyvoteforyou.org.au" previously. This should mean that the links in the emails on TVFY will show up as cuttlefish.oaf.org.au and hopefully be encrypted. It's a workaround until we implement https://github.com/mlandauer/cuttlefish/issues/409

[2022-03-07 04:33] mlandauer commented on #1357
Speeded up the calculation `application:cache:member_distances` largely by turning two SQL queries into one in e65f33289862c3dc6bd702b19b6e389bdfae3045. That took the time for a complete run locally from 48.74 mins (before any of the recent changes) down to 9.61 mins!

[2022-03-07 04:44] mlandauer commented on #1234
I'm fairly confident that some of the changes made to fix #1357 will have fixed this.

[2022-03-07 04:44] #1234 closed

[2022-03-07 04:47] mlandauer commented on #393
We have now have larger images available because of #1351

[2022-03-07 04:49] mlandauer commented on #982
Fixed by 36bf1f4e89173374071c09ab94367be0c02d17c3

[2022-03-07 04:49] #982 closed

[2022-03-07 05:25] mlandauer commented on #1357
Speeded up the calculation `application:cache:member_distances` by reducing the number of sql queries e65f33289862c3dc6bd702b19b6e389bdfae3045. This took the time for a complete run locally locally from 96.46 mins (before any of the recent changes) down to 46.30 minutes.

[2022-03-07 05:25] #1357 closed

[2022-03-07 22:08] mlandauer opened #1366 "[They Vote For You/production] ArgumentError: arguments passed to url_for can't be handled. Please require routes or provide your own implementation"
## Backtrace

    line 6 of [PROJECT_ROOT]/app/helpers/users_helper.rb: name_with_badge
    line 9 of [PROJECT_ROOT]/app/views/layouts/_history_notice.html.haml: _app_views_layouts__history_notice_html_haml___4228732475540726106_95880
    line 19 of [PROJECT_ROOT]/app/views/divisions/show.html.haml: block in _app_views_divisions_show_html_haml__919264077227228655_95560

[View full backtrace and mo

[2022-03-07 22:10] #1366 closed

[2022-03-08 01:23] mlandauer commented on #1348
I understand the meaning of "for" in the same way - that one is "in favour of".

I probably didn't do a good enough job of explaining what I meant with the issue specifically. Let me have another go.

I'm going to paraphrase what the particular policy page (https://theyvoteforyou.org.au/policies/166) above says right now

## For a citizenship test
### John Alexander voted consistently for a citize

[2022-03-08 03:18] mlandauer commented on #1349
Looks good to me @tseyiokorodudu. One tiny tiny suggestion. Can you remove the exclamation mark? I'm finding it little too "excited puppy" for me. And I'm also assuming the higher resolution image can go in there too now.

[2022-03-08 03:33] mlandauer commented on #1326
@mackaymackay I've taken your addition and changed it on the site. You can now see the updated text at https://theyvoteforyou.org.au/divisions/all

I'm not closing this issue yet because I think there's a few too many words. I think we could make this shorter.

[2022-03-08 03:49] mlandauer commented on #1322
@tseyiokorodudu I think that's great!

Looking again at the whole footer on righttoknow I'm struck by the elegance of having the project stuff at the top of footer and then the "extra footer" for the OpenAustralia Foundation stuff. I think it does a really good intuitive job of explaining that the project is run by OpenAustralia Foundation and it has some extra sort of official sounding stuff to m

[2022-03-08 04:19] tseyiokorodudu commented on #1322
Sure I can do this.

Just to confirm ... going by your suggestions we are going to have three footer sections now on the site right?

1. The TVFY section
2. The OAF section
3. Explore other projects section
<img width="1428" alt="image" src="https://user-images.githubusercontent.com/31440427/157165282-4175740c-3e22-49fc-a3fc-1162db486798.png">

[2022-03-08 04:21] mlandauer commented on #1335
Thanks so much @cofiem for jumping into this. I like the straightforward style of what you've written. It feels very much in keeping with the writing elsewhere on the site. I also really like  that you say "it can be tricky to work out.."

I wonder, would it be possible to provide some broad advice based on the AEC advice links and the act that the AEC is working under while at the same time linki

[2022-03-08 05:31] tseyiokorodudu opened #1369 "Social Card 3: Sharing a Policy Page"
## This issue has been split out from https://github.com/openaustralia/publicwhip/issues/1316 which covers several card. This issue just covers the design and implementation of one of the cards.

### Social Card 3 is for when someone shares a policy page [https://theyvoteforyou.org.au/policies/86](https://theyvoteforyou.org.au/policies/86)

Which currently looks like this when it is shared.

![](h

[2022-03-08 05:37] tseyiokorodudu commented on #1369
## Current Design

Based on @mlandauer comment https://github.com/openaustralia/publicwhip/issues/1316#issuecomment-1036728795 and that of @katska https://github.com/openaustralia/publicwhip/issues/1316#issuecomment-1033337833 I have worked on the design further to create the image below.

![image-2](https://user-images.githubusercontent.com/31440427/157172463-4401198d-ef7a-4a56-b32a-c4b6bae75518.

[2022-03-08 23:58] Taz17 commented on #1369
For now, we'll be working on a method to randomly produce the images (but still be able to re-produce the same order). The policy number (which is unique) will be the seed for the randomness.

[2022-03-09 00:51] mlandauer commented on #1338
I'm going to have a quick go at estimating the disk usage:

First some relevant numbers:
* Overestimate of size of one image: 100kb
* Number of different cards for each policy and for each person: 10
* PolicyPersonDistance.count: 48243
* Policy.count: 281
* Person.count: 951

So, a guess at the number of cards would be
[code]

So then the total required disk space is approximately 6GB

So let's pr

[2022-03-09 02:33] mlandauer opened #1370 "[They Vote For You/production] ArgumentError: Nil location provided. Can't build URI."
## Backtrace

    line 8 of [PROJECT_ROOT]/app/views/card/policy_with_member_card.html.haml: _app_views_card_policy_with_member_card_html_haml___244850121232895712_2354220
    line 69 of [PROJECT_ROOT]/app/controllers/members_controller.rb: policy

[View full backtrace and more info at honeybadger.io](https://app.honeybadger.io/projects/37542/faults/84428300)

[2022-03-09 02:33] mlandauer commented on #1370
This is happening in production

[2022-03-09 02:33] mlandauer commented on #1370
@Taz17 @tseyiokorodudu could you please have a look at this bug please? It's happening on certain cards

[2022-03-09 02:34] mlandauer commented on #1370
This is one of the cards it's failing on https://theyvoteforyou.org.au/people/senate/tasmania/steve_martin/policies/15?card=true

[2022-03-09 02:57] Taz17 commented on #1370
Looking at the backtrace on honeybager it seems that `image_tag` in https://github.com/openaustralia/publicwhip/blob/bd79993e8f0b7990649ef122218efd9fc55f0bf2/app/views/card/policy_with_member_card.html.haml#L8

Is receiving a string (or no string at all) which cannot be parsed to a URI as the exception message says `Nil location provided. Can't build URI.`

This error is not occurring with all oth

[2022-03-09 02:59] Taz17 commented on #1370
Additionally, in this commit https://github.com/openaustralia/publicwhip/commit/03c3c3719f117fb2e0a46b2a140d69b38e2ecf35 we started using `extra_large_image_url` over `large_image_url`.

Looking at the git blame @mlandauer made this change. Why?

[2022-03-09 03:29] tseyiokorodudu commented on #1370
@Taz17  The `extra_large_image_url` was added so we didn't have to hardcode the image size like we did when we used `large_image_url`.  In other words, `extra_large_image_url` is the exact image size we need for the cards.

Also I agree with @Taz17 that the reason behind the error is that not all members have a `extra_large_image_url`. Had the same problem locally and @mlandauer you suggested I up

[2022-03-09 05:45] Taz17 commented on #1369
Here is what a card looks like when it the images are scrambled.
![image](https://user-images.githubusercontent.com/86769131/157380042-a64f9696-8021-4c6e-9187-8475bcf15f7a.png)

[2022-03-09 23:25] tseyiokorodudu commented on #1322
Based on our chat , we've decided on a two footer section (TVFY section & OAF section) and do away with the "other project" section.

[2022-03-10 00:23] #1370 closed

[2022-03-10 04:03] tseyiokorodudu commented on #1322
Here is the rework of the footer

![image](https://user-images.githubusercontent.com/31440427/157586030-a6e49c59-4148-423b-a2fe-724501d96bbd.png)

@mlandauer feedback please

[2022-03-11 02:15] mackaymackay commented on #1348
Ok, I think I'm getting it now. I agree with removing the 'for' from the heading. I don't think it will cause problems with any of the policies, but if you'd like me to do a double-check, I can do that next week.

[2022-03-14 04:06] mlandauer commented on #1322
* I really like how you've moved the acknowledgement off to the side, rather than under the OAF blurb, which makes much more sense.
* The dark blue links against darker blue are a bit troublesome here I think from a contrast point of view. I have no problem with the links in the footer area working a little differently then the links on the rest of the site.
* I think there's value in trying to be

[2022-03-14 22:16] tseyiokorodudu commented on #1322
Here we go

![image](https://user-images.githubusercontent.com/31440427/158268874-7f002525-3d61-4be2-bab1-d6516551a376.png)

For the dark blue links within the descriptions, I changed the colour to white and then made it a different font-weight from the other text, like it is in the Right to Know site.

What do you think of the different font-weight I used for the site description and OAF descript

[2022-03-14 22:25] tseyiokorodudu commented on #1369
@katska and @mlandauer what are your thoughts on this card design and implementation?

Things to note:
- The images displayed were picked using a method that does what @Taz17 describes below:

[2022-03-15 00:12] mlandauer commented on #1330
Fixed by #1363

[2022-03-15 00:12] #1330 closed

[2022-03-15 00:14] mlandauer commented on #1340
This was fixed in https://github.com/openaustralia/infrastructure/commit/1cd955f8397b77d9dbc0f1dc8b88469fd6b6cddb

[2022-03-15 00:14] #1340 closed

[2022-03-15 00:16] mlandauer commented on #1338
The rake task has been rolled out to production. When running it manually it fails after half an hour or so also temporary locking up the server. So far haven't been able to reproduce the problem locally. I'll attach more information to this issue when I have it.

[2022-03-15 01:00] mlandauer commented on #1338
Here's an example from it failing last week when running manually on the production server:
[code]

[2022-03-15 01:04] mlandauer commented on #1338
At least the exception got caught `Error Net::ReadTimeout while screenshotting url: https://theyvoteforyou.org.au/people/representatives/robertson/belinda_neal/policies/13?card=true` and checking that url it's all fine so it's nothing to do with what's being screenshotted as such.

[2022-03-15 01:49] Taz17 commented on #1338
This is closed by `Net::ReadTimeout: Net::ReadTimeout with #<TCPSocket:(closed)>` so I think we should find a way to check if the socket is still open.

[2022-03-15 03:21] Taz17 opened #1371 "Social Card 4: Sharing a members category of votes. eg. Voted consistently for."
Social card 4 is for when a user shares what a member consistently votes for (including what cannot be decided on)

The categories can be found on a members page. e.g. https://theyvoteforyou.org.au/people/senate/tasmania/carol_brown

@tseyiokorodudu and I discussed what this card would look like and how to rank the policies shown on the card.

Here is a rough design of what it would look like:

![

[2022-03-15 03:29] Taz17 commented on #1371
@mlandauer @kat I'd love to know what you think about how to choose what policies show up on the card.

A known downside of using the subscriber count is that it would generally show the same policies for members of the same party which have been in parliament for quite a time. This might create a separation between parties

It also would limit which policies get displayed since its likely to pick

[2022-03-15 03:30] Taz17 commented on #1316
Sharing how members consistently vote, is in issue #1371

[2022-03-15 03:57] mlandauer commented on #1338
I've added a little hack in 8e2a544a41b171cb2d623d781d91a08bceb4f0e7 to close the chrome browser every 50 requests to see if that would make anything better. So far so good. It's now 50% of the way through and it hasn't failed yet. I'm also watching things with `htop` and I can see the memory going up for a little bit then dropping down and then going up and then dropping down.

[2022-03-15 04:09] Taz17 commented on #1338
Mhm That might work, since creating a new driver every 50 requests might get rid of what ever is slowing it down.

There's an issue on selenium's repository with the same error message. https://github.com/SeleniumHQ/selenium/issues/7563

A solution was to increase the `read_timeout`, the default is 60 seconds.

However, increasing the timeout does not answer the question of what is causing it to w

[2022-03-15 04:18] mlandauer commented on #1338
There would be something seriously wrong if the web page was taking 60 seconds to load. So that's not a solution in this case :-)

[2022-03-15 04:54] mlandauer commented on #1338
Awesome after the hack in 8e2a544a41b171cb2d623d781d91a08bceb4f0e7 it went through all the screenshots in production without error. It took 2 hours and 4 minutes all up.

[2022-03-15 05:20] mlandauer commented on #1338
Added cron job to run this at night in https://github.com/openaustralia/infrastructure/commit/afa6d353d6ac3c7c7a07f883a13bf82eb9b9c773. I think we can call this closed now

[2022-03-15 05:20] #1338 closed

[2022-03-15 22:15] mlandauer commented on #1349
The view part was added in #1367 and that's merged and rolled out to production.

@tseyiokorodudu @Taz17 could you please put together a PR to render the images in the screenshotting rake task.

[2022-03-15 22:17] mlandauer commented on #1339
These cards are now being rendered in production by a rake task that runs every night at around 2am.

@Taz17 @tseyiokorodudu could you now please put together a PR for these to be used when sharing the page on social media?

Thank you!

[2022-03-17 03:16] mlandauer commented on #1271
A first version of this is done and dusted. I think there's a lot of wrong with it. The heading, for instance, doesn't refer to whether they're divisions implementing pieces of law. Also it doesn't elegantly handle when there are no divisions of a particular type (e.g. no strong divisions).

Nevertheless I think this is already an improvement on what we had before and makes a bunch of improvements

[2022-03-17 03:16] #1271 closed

[2022-03-17 04:09] #1348 closed

[2022-03-21 00:47] mlandauer commented on #1369
@tseyiokorodudu @Taz17 looks good to me.

I don't see the point of seeding the random order of the images with the policy number. That way the order is fixed for a particular policy for all time which seems kind of weird to me. I also don't see the problem with the image order changing every day. That reinforces the idea that the order is random. If two people share the same page on the same day t

[2022-03-21 00:57] tseyiokorodudu commented on #1369
With the new dimension of 1200 x 628, the card design looks like this:

![image](https://user-images.githubusercontent.com/31440427/159192456-c78c54e0-eecf-4999-b08d-7b0ab132934c.png)

This happens when the policy name is longer. It resizes to fit the height of the text container.
![image](https://user-images.githubusercontent.com/31440427/159192591-c8736e5c-4bce-4eba-9646-8b75aaf5bed8.png)

In te

[2022-03-21 00:57] mlandauer commented on #1371
Thanks @Taz17 @tseyiokorodudu!

I like the continuing use of the "+20 others" pattern. Feels like a very solid (but non-intrusive) way to hint at all the goodies that await if someone follows the links. That's great.

Is there a reason for not including a picture of the member here?

I'm not sure about the "white line" separators being used here. They're not used on the site and the site uses whit

[2022-03-21 01:02] mlandauer commented on #1369
This looks good to me! 🎉

I see what you mean about the image size. On one hand, the images can be smaller here because we're not actually providing concrete information here. The page is more of a "taster" of what lies beneath when you follow the link. So, it might not be super important that you see all the detail of who is there.

However, when that card is sized down for actual inclusion on tw

[2022-03-21 01:09] tseyiokorodudu commented on #1369
Okay. I will just tidy up the code and make a PR so we can test it out.

[2022-03-21 01:49] tseyiokorodudu commented on #1371
There's no particular reason the image of the member isn't included. We can definitely add it.

White was just a temporary colour choice for the line while we figure out a better color. In using the line as a separator, we were trying to stay in line with the design the website uses for this particular content. I will try out the white space and see how it looks.

This is noted

[2022-03-21 07:52] tseyiokorodudu commented on #1371
What do we think about this?

![image](https://user-images.githubusercontent.com/31440427/159221200-b5759145-2b20-4a49-b11a-ec6ace0be679.png)

Note: The text on the card is hard-coded.

[2022-03-21 09:19] Taz17 commented on #1371
Oh a new category, thats nice! I really like this design, and much prefer it that the previous design. But don't you think the image would be too small when twitter/facebook shrinks them down?

[2022-03-21 09:27] tseyiokorodudu commented on #1371
Yeah, it will be small but still recognisable. It's the same image size as those on the policy card, i.e. `large_image_size`. So you could look at that to see how it will turn out.

[2022-03-23 00:52] mlandauer commented on #1371
I've merged the three PR's for social card 4, made a few small changes, and rolled it out to production.

I haven't run the rake task to generate the images as I don't want to put any extra load on the server right now while we have increased traffic today because of the SMH article.

Looking at the design of this card now in a little more detail I think there are a few things that I think could b

[2022-03-23 01:20] Taz17 commented on #1371
@mlandauer I think the "+ 20 Others" is fine when the list is taking up the whole card.

`Find out more: theyvoteforyou.org.au/people/representatives/..../................`  Takes space and moving the "+ 20 Others" below the list would mean we would have to change the position of:
- `Find out more: theyvoteforyou.org.au/people/representatives/..../................`

[2022-03-23 01:28] katska commented on #1371
"The different left indentation for the heading "Eric Abetz voted a mixture" versus the list below makes it not super obvious to me that one flows on from the other. Is that just me? @katska what do you think?"
It wasn't obvious to me, so I think they need to be indented or otherwise made more obviously a list. Does that make sense @tseyiokorodudu  @Taz17

[2022-03-23 01:29] tseyiokorodudu commented on #1371
The challenge I had with the design of this card, especially with the addition of the MP's image, was maintaining a balance between the space and choosing the right font size, so the contents fit perfectly within the card.

So moving "+20 Others" to the left-hand side would mean having to reduce the font size of the policies (which I fear might make them too small on Twitter & Facebook) or reducin

[2022-03-23 01:30] tseyiokorodudu commented on #1371
@katska Yes, it does. What instantly comes to mind is maybe adding a bullet point? Is that what you mean?

[2022-03-23 01:34] tseyiokorodudu commented on #1371
Alternatively, we could reduce the number of policies on the card from 4 to 3.

[2022-03-23 02:52] mlandauer opened #1382 "Put site explanation from about page onto landing page"
On the about page https://theyvoteforyou.org.au/about we say "Forget what politicians say. What truly matters is what they do. And what they do is vote, to write our laws which affect us all." which is a clear explanation of the intent and scope of the site. Most people will likely never see this on the about page.

Why don't we put it on the landing page as well below the first main section "How

[2022-03-23 23:16] katska commented on #1382
good idea yes!

[2022-03-23 23:16] tseyiokorodudu commented on #1371
Moved the "20 others" to the left and reduced the number of policies to 3....Here is the result

![image](https://user-images.githubusercontent.com/31440427/159806513-916a627a-c2cc-4635-9227-a95d84aebad6.png)

Regarding the indentation, this is what it looks like when we indent the policies. I don't think it looks good.

![image](https://user-images.githubusercontent.com/31440427/159806911-7e32c12

[2022-03-24 04:49] katska commented on #1371
Hi @tseyiokorodudu
I think the lines are ok.
As you'd mentioned the bullet point thing I had a quick go at mocking that up visually, along with rebalancing the other elements to go with that
- bigger photo
-  even spacing around photo
- Headline aligned with top of photo
- slightly smaller text
- just for fun I also added an extra small border beneath the main banner to soften blend between the tw

[2022-03-24 04:59] katska commented on #1371
With a bit more space added back in - I think that's more balanced again
<img width="748" alt="Screen Shot 2022-03-24 at 3 59 07 pm" src="https://user-images.githubusercontent.com/1001129/159845485-d42907b3-0284-448c-84c1-b18ec8cee224.png">

[2022-03-24 06:57] katska commented on #1371
A couple of variations - what happens when the arrangement is tweaked to have a bit more indent, like a traditional bulleted list, and how important is the relationship between the headline and options shown?

<img width="752" alt="Screen Shot 2022-03-24 at 5 49 36 pm" src="https://user-images.githubusercontent.com/1001129/159858805-986e12b7-52f1-4528-9204-94f011ba26e9.png">

<img width="750" alt=

[2022-03-25 01:06] mackaymackay opened #1383 "Add explanation about COVID attendance issues to TVFY"
MP Wilkie's team has written and raised concerns about the fact that we don't currently explain anything about the COVID attendance arrangements on our site, i.e. that reps were often attending remotely but could not vote.

This explanation could be put in the [FAQ section on attendance](https://theyvoteforyou.org.au/help/faq#attendance), as this is where the link "Explain Attendance" on all reps'

[2022-03-25 01:28] mackaymackay opened #1384 "Consider 'retiring' older policies"
MP Wilkie's team has written and raised concerns about older policies and divisions being included in the voting record. Note that this issue only affects long-serving representatives.

While selectively removing old divisions from policies is problematic (it could give rise to accusations that we are manipulating the voting data), it may be worthwhile to retire policies after a certain number of

[2022-03-25 04:06] cofiem commented on #1383
I'm not sure if it's useful, but it looks like the *daily* attendance record now includes whether anyone attended via video.

For example [HVP No 167 - 17 February 2022](https://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;adv=yes;orderBy=customrank;page=0;query=attendance%20Dataset%3Avotes,voteshistorical,journals,journalshistorical;rec=0;resCount=Default)

As [discussed in the past](h

[2022-03-27 23:23] tseyiokorodudu commented on #1371
Thanks, @katska for the mockup. It definitely looks more spacious.

[2022-03-28 00:49] mlandauer opened #1385 "Don't embed content from TVFY on openaustralia.org.au anymore. Send people to TVFY directly"
At the moment we embed content from theyvoteforyou.org.au on openaustralia.org.au using the API (or to be precise a legacy XML API).

This looks something like this for Justine Elliot (my local member):
At https://www.openaustralia.org.au/mp/justine_elliot/richmond
![image](https://user-images.githubusercontent.com/2221/160308672-16b76257-ef27-4fd2-8f84-775533f7c1f0.png)

On theyvoteforyou.org.au

[2022-03-28 02:39] tseyiokorodudu commented on #1371
Here is the card based on @katska mock-up:

![image](https://user-images.githubusercontent.com/31440427/160315653-63835716-e10d-4c77-8b5e-e8f68e8df5c4.png)

Still working out what happens when we have just one policy but so far we've:
- Made sure the URL stays below
- And removed "+ 20 others"

![image](https://user-images.githubusercontent.com/31440427/160316998-fb989680-06c1-4f76-822d-c94425a0e7

[2022-03-29 00:02] katska commented on #1385
@mlandauer @mackaymackay agreed. That's bad to have out of date voting positions on openaustralia.org.au especially if it's not clear the information is only updated periodically.

Just to be clear @mlandauer the current situation is that we don't have the resources to improve or develop openaustralia.org.au and that we don't want to show out of date info. So it's better to remove it for now and p

[2022-03-29 00:25] katska commented on #1371
@tseyiokorodudu I feel like that's getting there. How does this direction seem to you, is there anything that doesn't work. Do you have other suggestions we're not considering?
If going along this path then - bigger photo yes. I think aligning the bulleted issues as you have done is good, so probably doesn't need further indenting. I wasn't sure about that when I added it. I'd appreciate your thou

[2022-03-29 00:27] katska commented on #1371
@tseyiokorodudu hey I notice there still seems to be a bit less space above the photo than to the left. The idea was an even border. Ideally this and the other layout features scale for different screens/devices.

[2022-03-29 01:21] tseyiokorodudu commented on #1371
Hi @katska, I like the direction; it isn't so different from the original and it solves the minor issues with the original.

About the bullet points, my thought on it constantly changes, sometimes I look at it and I think it works and other times, I don't think it does. However, Iooking at it from a purely functional perspective; I think it does the work of showing that it is a list and that the p

[2022-03-29 02:05] Taz17 commented on #1316
Its been a while since this issue has been updated to reflect the work that we have been doing over the last two weeks.

Cards for sharing a members page, a policy page, and sharing a vote a member has made on a policy are all in production and can be picked up by twitter and facebook.

There remains a couple more cards.
1. Sharing a members votes categorized. eg. Voted consistently for... this li

[2022-03-29 04:25] Taz17 commented on #1371
@katska, Tseyi and I have worked on the card and we updated the spacing around the image to be all the same (left, right, and top spacing).

We are now working on shrinking the font size when the policy names are too long and cause the text on the car to overflow.

[2022-03-29 04:46] katska commented on #1371
I'm curious to see your thinking on this as you make decisions to better understand where the challenges are/have been.

Style of bullets is a minor point and shouldn't be a blocker. I just did the default thing as a functional starting point. It needs to feel simple and not get in the way at the same time and "showing that it is a list and that the policies are linked to the title heading". Lets

[2022-03-30 02:33] Taz17 commented on #1371
Here is what the card currently looks like. We fixed up the spacing around the image. Now to the left, right, and top of the image there is a 60 pixel gap. We also added the ability to shrink the size of the policy names.

Before shrinking:
![image](https://user-images.githubusercontent.com/86769131/160738692-8ef7d35d-f071-4f47-a9a2-a06ae2229969.png)

After shrinking:
![image](https://user-images.

[2022-03-31 06:59] #1382 closed

[2022-03-31 22:23] mackaymackay commented on #1385
@mlandauer  I agree with your reasoning and can't think of anything to add.

[2022-03-31 22:27] mackaymackay opened #1386 "Create a 'How to check accuracy of TVFY guide'"
Put in one place (perhaps a blog?) a simple guide on how to check that the info on TVFY accurately reflects the official record.

This is prompted by an email asking about the accuracy of a particular voting record, and has been asked in the past by other sources.

I've assigned this to myself and created this issue as a reminder.

[2022-04-04 02:01] mlandauer commented on #1358
@katska this is at the top of the todo list for TVFY right now. Any progress on this or should I mark this as done?

[2022-04-04 02:06] mlandauer commented on #1345
It's actually really hard to find quotes, at least on twitter, that aren't super political in their support of TVFY. I guess that shouldn't be surprising. People are using it to defend and broadcast their political position. That's what it's for but we don't want to use any of that in our "this is why I used TVFY and it's useful to me" quotes on the landing page.

[2022-04-04 02:15] mlandauer commented on #1345
Did a call out on Twitter https://twitter.com/TheyVote4You/status/1510802705664524290

[2022-04-04 02:35] mlandauer opened #1387 "On person policy page explain that the divisions shown are just those that the person could have attended"
This is not explicitly said anywhere and so could lead to confusion. For example, on https://theyvoteforyou.org.au/people/representatives/clark/andrew_wilkie/policies/46 Andrew Wilkie is shown as "We can't say anything concrete about how Andrew Wilkie voted on increasing access under Freedom of Information law" and it lists one division as being connected to the policy.

What isn't obvious is that

[2022-04-04 02:59] mlandauer commented on #1383
@mackaymackay if I recall correctly during our first zoom meeting with Wilkie's team we asked for further information about the COVID attendance arrangements especially anything written down officially that we could refer to. I'm pretty sure we didn't receive anything. There must be something written down solidly somewhere, right? But I can't seem to find anything... Did you already find something

[2022-04-04 03:09] mlandauer commented on #1383
One other thing we could do to make this more prominent where it's relevant is we could add a warning box (a milder version of what we did for draft policies)
![image](https://user-images.githubusercontent.com/2221/161467378-ef78e41f-fbc8-4d1e-ae41-d80d690b7959.png)
which explains that this division (or related policy) took place while COVID-19 restrictions were in place. Some members would not ha

[2022-04-04 09:16] katska commented on #1345
hmm @mlandauer interestingly not so many replies so far. I wonder if people don't want to be quoted?

[2022-04-05 01:25] Taz17 opened #1388 "Card titles don't always shrink to fit in the card."
I visited https://theyvoteforyou.org.au/policies/86?card=true earlier and saw that the card title had not been adjusted to fit the card.

Here is a screenshot.

![image](https://user-images.githubusercontent.com/86769131/161658801-a5f1f229-064f-4604-b3ad-18790eb47e74.png)

This is hard to reproduce since it is caused by the event listener firing off before the html is actually rendered.

I did som

[2022-04-05 02:30] Taz17 opened #1390 "Social Card 5: Sharing a categories of votes under a policy. eg. Voted generally against."
Social card 5 is for when a user shares how members voted for a certain policy (including what cannot be decided on)

The categories can be found on a members page. e.g. https://theyvoteforyou.org.au/policies/86

The card will show each individual section labelled 1, 2, 3, 4, 5 in this image (there will also be cards for the sections that cannot be seen in this screenshot
![image](https://user-ima

[2022-04-05 03:11] katska commented on #1387
@mlandauer yes. Good idea! How bout something like

Andrew Wilkie has voted **once** on this issue, out of only one possible division in **the House of Reps**.
All together there have been **X** divisions in the **House of Reps** and **Y** divisions in the Senate, between **date 1** and **date 2**.

and this might be another opportune moment to include
However there may have been other votes agree

[2022-04-05 03:12] katska commented on #1358
I really only had one org in mind to begin and I haven't heard back from them. So it's definitely not top of the list. Can we review in 2 weeks rather than mark done? I'll chase up and see if they're coming aboard.

[2022-04-05 03:18] katska commented on #1371
@Taz17 is there still a case where this is going to overlap, as in the earlier example or are you confident it's fixed now? Is there a test you can try to push the limits of the change you make?

[2022-04-05 03:22] Taz17 commented on #1371
Nope, im confident with the changes made to it.. I'll be created a PR for this right now.

[2022-04-05 07:45] mlandauer commented on #876
The change in b7b51a0b1a76ffae4676a901036c69cab76bbe94 and a switch to a (I think) clearer and more direct explanation involving scores and weights goes a long way to making things a bit better

[2022-04-05 07:45] #876 closed

[2022-04-05 10:31] Taz17 commented on #1388
Closing is the PR has been merged

[2022-04-05 10:31] #1388 closed

[2022-04-06 00:04] tseyiokorodudu commented on #1390
That was a mistake on my part. But it is an easy fix.

[2022-04-06 00:10] mlandauer commented on #1390
There's an anchor on each of the sections so you can link directly to them. For example https://theyvoteforyou.org.au/policies/1#not_enough

It would also make sense to name each card by the anchor name (which is supposed to be fixed, even if the human readable name of the section gets updated)

[2022-04-06 00:12] mlandauer commented on #1345
I think doing another callout today would be a good thing

[2022-04-06 00:46] katska opened #1393 "Search results not showing People on full name"
Search results not showing People on full name
Example: Search Andrew Wilkie, only divisions appear
<img width="915" alt="Screen Shot 2022-04-06 at 10 43 09 am" src="https://user-images.githubusercontent.com/1001129/161873647-1f5d6ee3-8d55-4080-b6aa-ed406cf33a5a.png">

vs search Wilkie where People results correctly come first
<img width="960" alt="Screen Shot 2022-04-06 at 10 43 16 am" src="https

[2022-04-06 00:53] Taz17 commented on #1390
Here is an update on the card!

We made the card title a bit bolder and added the anchor at the end of the URL.

![image](https://user-images.githubusercontent.com/86769131/161874266-e721c92b-6323-454e-a392-027b0ca3119a.png)

[2022-04-06 00:55] mlandauer commented on #1393
Note that the search on the landing page works differently. When you put "Andrew wilkie" in there you get immediately directed to his page

[2022-04-06 00:58] tseyiokorodudu opened #1394 "Social card 6: General Card (Sharing the site from homepage)"
This is the design I have for the general card. Keeping with the site design, I have kept it simple and spacious.

![General](https://user-images.githubusercontent.com/31440427/161873377-7e81d613-f4dd-4866-be02-4864f651066f.png)

@mlandauer @katska @Taz17 thoughts? Should I increase the font size a bit?

Also @mlandauer this card is going to be an image and not coded like the other cards right?

[2022-04-06 02:05] tseyiokorodudu opened #1397 "Adding the share button links to share social card 4 & 5"
Currently, there is no way to share each voting category on an MP's page (Social card 4) or on a policy page (Social card 5).

Below you can find the mockup of what this might look like.

### 1. Sharing the voting categories on an MP's page
Because the list of policies under each category is usually long, @Taz17  & I felt it is better to have the share button links at the top rather than below.

!

[2022-04-06 02:17] Taz17 commented on #1397
With regards to sharing the voting categories on the policy page, I think its best if we have the sharing options at the top rather than the bottom.

How many people used the `Something not right?` link. If its not significant then moving to the bottom is not that bad?

[2022-04-06 05:41] mlandauer commented on #1394
Like I said in person, an image of the correct size added to the assets folder is great. Could you also please commit the original illustrator file (or whatever you used for design) so this could be edited later. Thank you!

[2022-04-06 06:15] #1393 closed

[2022-04-06 23:52] mlandauer commented on #1322
Fixed by #1398

[2022-04-06 23:52] #1322 closed

[2022-04-07 01:49] mlandauer commented on #1394
Fixed by #1400

[2022-04-07 01:49] #1394 closed

[2022-04-07 02:43] mlandauer commented on #1385
That's done now. This is what it looks like now
![image](https://user-images.githubusercontent.com/2221/162109794-bd5a3962-9528-40f2-b88c-285429205981.png)

It's pretty rubbish but at least **something** is there now

[2022-04-07 02:43] #1385 closed

[2022-04-07 02:56] mlandauer commented on #1345
I did another call out today. I think it's time to do the update with the things we have

[2022-04-07 02:56] katska commented on #1345
@mlandauer Since there has been a bunch of coverage lately, how about using news media quotes also?

[2022-04-07 02:58] mlandauer commented on #1345
@katska can you pick out bits that you like, please?

[2022-04-07 03:01] katska opened #1402 "example text truncated on a phone screen"
https://twitter.com/Fun2bRubi/status/1507172926197727233
<img width="557" alt="Screen Shot 2022-04-07 at 12 59 18 pm" src="https://user-images.githubusercontent.com/1001129/162111735-74db0451-381c-4bbe-9006-06cfcdef386b.png">

[2022-04-07 03:14] katska opened #1403 "possible friends not shown for Craig Kelly"
Craig Kelly does not show as having any possible friends.

https://theyvoteforyou.org.au/people/representatives/hughes/craig_kelly

<img width="1022" alt="Screen Shot 2022-04-07 at 1 11 55 pm" src="https://user-images.githubusercontent.com/1001129/162112812-cd0db50e-5d93-4bea-a083-2f213b0bf785.png">

[2022-04-07 03:19] katska commented on #936
@mackaymackay any further thoughts on this wording in the current context? Would you change anything to make it clearer?

[2022-04-07 03:23] katska commented on #936
Could
"Put the question" be "stop this debate, ask the question and vote now"?

[2022-04-07 03:26] katska opened #1404 "multiples of one person shown in search results"
for example:

3 x Craig Kelly returned. They're all the same as far as I can tell.
https://theyvoteforyou.org.au/search?utf8=✓&query=Craig+kelly&button=Submit

<img width="1086" alt="Screen Shot 2022-04-07 at 1 14 40 pm" src="https://user-images.githubusercontent.com/1001129/162114074-81d75e45-bc05-4df5-8302-c3f50d624d93.png">

x 2 Andrew Wilkies https://theyvoteforyou.org.au/search?query=Andrew+w

[2022-04-07 03:28] mlandauer commented on #1404
Duplicate of #1259

[2022-04-07 03:28] #1404 closed

[2022-04-07 03:32] katska commented on #1259
thanks @mlandauer I missed this!

[2022-04-07 03:37] katska commented on #1345
_No bells or whistles and nothing dodgy, its an open source platform.
How they actually voted, not just what they said on twitter_
Sarah Wilson
https://www.instagram.com/tv/Cb6_kXyDpfA

[2022-04-07 04:03] katska commented on #1345
"One website is forcing MPs to put their money where their mouths are by sharing how they vote on the issues." https://news.com.au/national/this-website-will-tell-you-what-your-mp-voted-for/news-story
OR
"one website is holding your local Members of Parliament accountable and taking an ‘actions speak louder than words’ approach, by showing how they voted on the issues"
https://www.news.com.au/nati

[2022-04-07 05:32] katska opened #1405 "track notable uses & mentions"
Noteable uses being those that come to our attention where TVFY functionality of people sharing voting position on issues.
[Honest Government ads ](https://www.thejuicemedia.com/honest-government-ad-united-australia-party/)

Noteable complaints where politicians are complaining about They Vote For You
https://www.theguardian.com/australia-news/2022/mar/25/liberal-andrew-bragg-accused-of-showing-di

[2022-04-07 05:50] #1345 closed

[2022-04-08 04:19] mackaymackay commented on #1387
@katska @mlandauer  This is a great idea. The wording is difficult though... I've tried combining what you both had into:

The bits in square brackets are the bits that would change according to the circumstance. The issue with this wording is it would need a singular ("is") and plural ("are") option in the second sentence - I'm not sure how doable that is?

I also like the idea of having somethin

[2022-04-08 04:23] mackaymackay commented on #936
@katska I'm happy with these. Improvement is always possible, but I think these do the job is plain language.

[2022-04-08 04:51] mackaymackay commented on #1383
@mlandauer  I'm not aware of receiving any further information from Wilkie's team.. I've found a report about COVID related changes in the House: https://www.aph.gov.au/Parliamentary_Business/Committees/House/Procedure/ResponsetoCOVID-19/Report   It contains some useful info that could be a good starting point for when I get to drafting something for this.

_Re the warning box:_

Having a warning

[2022-04-10 11:31] katska commented on #936
@mackaymackay agreed!

[2022-04-11 00:25] mlandauer commented on #1345
Still need to let everyone whose quotes we used know

[2022-04-11 01:19] #1346 closed

[2022-04-11 01:32] mlandauer commented on #1345
Let them know in https://twitter.com/TheyVote4You/status/1513327922693611521

[2022-04-11 01:35] mlandauer commented on #1358
I removed a couple of supporting orgs in 77a6af9fcb7d01879eee86ee430616aa847140d9 - one was dead (sunlight). The other has changed name a long time ago and maybe mission?

[2022-04-11 02:46] mlandauer commented on #1197
I'm going to take a look at https://github.com/openaustralia/aec_postcode_electorate_data and see if that's easy to get going again.

[2022-04-12 00:52] mlandauer commented on #1197
Yesterday fixed a problem where none of the repos on morph would get updated from github. Then, it turns out that the AEC site is now blocking morph.io. Fun, fun. Next, need to add paging support to the scraper because some postcode (for example 0820) return multiple pages of results and those are currently being ignored.

[2022-04-13 00:48] mlandauer commented on #1197
I feel like a bit of a fool because I just realised that by scraping the AEC data now we would get the postcode to electorate mapping for the **upcoming** election. They Vote For You is showing people their **current** MPs so it needs to show the electorates as they were before the election was called. So, if we were to update the postcode to electorate mapping now it would be wrong but what we ha

[2022-04-13 01:00] mlandauer commented on #299
Related to #1082

[2022-04-14 05:35] mlandauer opened #1407 "Show that a division involves "free votes" on division detail page"
Currently there is no obvious indication on a division detail page that a division was a free votes (for at least some of the parties). This is important information that I would expect to be obvious on the page.

For instance on https://theyvoteforyou.org.au/divisions/representatives/2021-12-01/3 it says in the summary "This was a free vote" but it makes sense that this super important informatio

[2022-04-14 22:44] mlandauer commented on #1405
@katska what do you mean exactly by "track"?

[2022-04-14 22:51] mlandauer commented on #1386
A slight aside: I really like using the blog as a kind of writing "prototyping" place. It's a great way to be able to write something time-sensitive without having to figure out where it fits in with other things

However, if we keep finding ourselves referring to old blog post for TVFY that's probably a signal that we should figure out how to include the writing into the site proper. It's more wo

[2022-04-15 03:53] mackaymackay opened #1408 "Wrong photo for former Sen. Bob Brown"
While editing an old motion, I discovered that we currently have the wrong image up for former Senator Bob Brown - I'm not sure who this man is, but it's not Bob Brown.

![image](https://user-images.githubusercontent.com/6345406/163515476-f4df1870-4caa-4c8a-9581-b9b066ae663e.png)

Image from his [TVFY page](https://theyvoteforyou.org.au/people/senate/tasmania/bob_brown).

[2022-04-15 04:29] mackaymackay commented on #1386
@mlandauer agreed. Perhaps it's time to redo the TVFY FAQ page and add answers questions like this one, and others that commonly prompt me to link old blogs.

[2022-04-21 04:43] mlandauer commented on #299
This was switched on for everyone in 7a068b7ba977c4e74f0372eb9505a16077734166

[2022-04-21 04:43] #299 closed

[2022-04-21 04:45] mlandauer commented on #1082
This was indeed (as expected) fixed by #299

[2022-04-21 04:45] #1082 closed

[2022-04-21 04:47] mlandauer commented on #1220
This was fixed by #299. The paragraph with the wording in question has now been updated to make no mention of a particular parliament as a person's entire voting history (even if they change party, house, etc..) is taken into account when showing "possible friends".